[2018-11-28 08:00] RobertoPrevato opened #1 "Wrong logic in write_small_response"
write_small_response lacks check for request.content not None

[2018-11-29 07:14] RobertoPrevato commented on #1
Corrected in https://github.com/RobertoPrevato/BlackSheep/commit/d7c6a8bcca75fadcec986852fa4d1e5f92a06a9f

[2018-11-29 07:14] #1 closed

[2018-12-30 23:12] RobertoPrevato opened #2 "Segmentation fault at PySet_Discard"
[code]

## More details:
[code]

investigate and resolve.

[2019-01-01 01:32] RobertoPrevato commented on #2
Corrected with: https://github.com/RobertoPrevato/BlackSheep/commit/73873f7bdc0250279bd289a0438b7a2f3fc1947e

[2019-01-01 01:32] #2 closed

[2019-01-01 22:40] RobertoPrevato opened #3 "Request Cookies are not read properly"
Fix error in reading cookies; and add tests for this scenario. Add a dedicated class for Cookies, instead of using `dict`. Make them more user-friendly.

[2019-01-01 23:46] RobertoPrevato commented on #3
Request cookies are better represented by dictionaries, because a request `Cookie` header only contains key - value pairs separated by "; ", with name and value separated by "=". So, dict is a perfectly fine structure for this scenario. In outgoing client requests, it also make sense to handle cookies as values of a dictionary.

Side note: ASP.NET Core handles duplicated cookies, keeping only the

[2019-02-18 06:37] RobertoPrevato opened #4 "Move on_start callback before handlers normalization"
To improve the user's experience and goodness of dependency injection, move `on_start` callback before handlers normalization. This way, services that need asynchronous initialization (e.g. a db context / pool for PostgreSQL) can be automatically injected in request handlers.

[2019-02-18 06:40] RobertoPrevato commented on #4
First try, `application.py`:
[code]

[2019-02-18 07:02] RobertoPrevato opened #5 "Include encoding in Content-Type response header"
Include encoding in Content-Type response header.

Example for views rendered with Jinja2:
[code]

[2019-02-18 13:39] RobertoPrevato commented on #5
Note: this should be default for HTML and plain/text responses. Instead, `application/json` shouldn't require this, since UTF-8 is the default encoding for JSON.

[2019-02-20 10:28] RobertoPrevato opened #6 "Improve built-in synch logging"
in the built-in integration with sync logging,
consider (TBD):
1. use a dedicated file for each process
1. create a file on disk only if sync logging is used
1. when logging exceptions (built-in error handling), include the `id` of the process that was handling the request

[2019-02-20 10:36] RobertoPrevato commented on #6
**Note**: there are other approaches, recommended over using a different file for each process. However, they are more complex. The recommended approach for logging will be anyway an async solution, using external APIs (see [rolog](https://github.com/RobertoPrevato/rolog))

[2019-02-20 16:17] #4 closed

[2019-02-20 16:17] #5 closed

[2019-02-20 16:17] #6 closed

[2019-02-26 09:35] tomchristie opened #7 "Change to wiki text."
Something worth changing on the wiki text:

"Christie is recommending Python community to adopt a standard API he designed, ASGI"

The ASGI spec is authored and maintained by Andrew Godwin. I'm just a supporter of its adoption. 😄

[2019-02-26 09:42] tomchristie commented on #7
Obvs. I think you'd have more impact if your work was more tightly targeted as being towards a Cythonised ASGI server (or HTTP protocol to plug into uvicorn), since you'd then be able to use that with Responder, Quart, Bocadillo, FastAPI, and Starlette.

That way we're all pushing forwards together. Rather than having a Cythonised component that's tightly coupled to one particular framework, ala V

[2019-02-26 13:00] RobertoPrevato commented on #7
Hi @tomchristie,
Thank You for your feedback! I updated the wiki to correct my error. :)
I avoided ASGI because I wanted to experiment with a framework that uses custom classes to handle headers, cookies, etc. I am influenced by ASP.NET framework from .NET community, since at work I always worked with .NET technology.

I know this means sacrificing interoperability with other libraries and also us

[2019-02-26 13:15] tomchristie commented on #7
You could consider working with strict types throughout the codebase, and either:

* Only jump to instantiating a dict for the final call into the ASGI app.
* Implement a mapping interface onto the type, so that it *is* dictionary-like.

Given that the end-developer will be working with Python at the application level anyways, a dict interface vs. objects isn't going to be a measurable effect unde

[2019-02-26 13:54] RobertoPrevato commented on #7
Thanks for the heads up, when I have time, I look into both options.

I only partially agree with this sentence:

It is true: most real applications will be slower anyway. This happens also in .NET community, even though C# is statically compiled and faster than Python. People use ASP.NET Core which is really fast ([ref](https://www.ageofascent.com/2019/02/04/asp-net-core-saturating-10gbe-at-7-mil

[2019-02-26 14:15] tomchristie commented on #7
Well indeed - completely agreed there.

I'm just advocating for fast and efficient building blocks, rather than fast and efficient tightly coupled full-frameworks.

Anyways, I'd best crack on with other stuff. Good work on Black Sheep. 👍 😃

[2019-02-26 14:53] RobertoPrevato commented on #7
Thanks again! :)

[2019-02-26 14:53] #7 closed

[2019-04-23 19:50] pgjones opened #8 "ASGI Support"
Congratulations, this looks to be a really cool project 👍 .

I'd like to encourage you to adopt ASGI. (I see you discussed this in #7, but I wanted to add my voice of encouragement).

[2019-04-23 19:54] pgjones opened #9 "Jinja2 has an async mode"
Unless I'm mistaken, you could make use of the [Jinja2 async mode](http://jinja.pocoo.org/docs/2.10/api/#async-support), (an example in [Quart](https://gitlab.com/pgjones/quart/blob/master/quart/templating.py#L13)).

[2019-04-23 20:23] RobertoPrevato commented on #8
Thanks, @pgjones,
I will look into this and try to adopt ASGI, or to add a way to integrate ASGI. So far I've been focused on architecture and other features, like built-in dependency injection for request handlers. One of the main drivers for not using ASGI was to avoid using `dict` and investigate the performance of a solution that relies more on custom extension types from Cython. Now I see tha

[2019-04-23 20:31] RobertoPrevato commented on #9
Thanks for the heads up. I read about async support in Jinja2 in the past, but I need to look more into this. So far I sticked to the sync api for this task, because I tend to think of HTML rendering like a CPU bound task (like building HTML, when the context is already at hand in memory), rather than network bound. I will make my hands dirtier on this subject - tomorrow I add a task to the **Deve

[2019-05-07 13:23] RobertoPrevato opened #10 "Use ThreadPoolExecutor to serve files"
Code to serve files dynamically ([here](https://github.com/RobertoPrevato/BlackSheep/blob/master/blacksheep/server/files/dynamic.py)) must use a [ThreadPoolExecutor](https://docs.python.org/3/library/asyncio-eventloop.html#executing-code-in-thread-or-process-pools) to not block the event loop.

Review also the built in support for logging (asynchronous should be the preferred way anyway), and the

[2019-05-10 14:45] RobertoPrevato opened #11 "Free ports at application stop with WLS (Windows Linux Subsystem)"
It looks like ports are not freed properly when the application stops when using WLS. This does not happen consistently, and also this error happens:

[code]

[2019-05-14 21:54] RobertoPrevato commented on #9
Hi @pgjones
This has been added with https://github.com/RobertoPrevato/BlackSheep/commit/8dffcad47f3c735802aa535a3ee4b3e69801f944

Support for Jinja2 `enable_async` has been added, together with tests and improved code api to render views. :+1:

[2019-05-14 21:54] #9 closed

[2019-05-15 18:30] pgjones commented on #9
🎉

[2019-06-23 00:26] dvtan opened #13 "Support for unix domain socket?"
Will there be support for unix domain socket?

Example use case: nginx is in front of the app server, all running on the same machine.

[2019-06-23 07:13] dvtan opened #14 "Client example code doesn't work, results in ImportError, and then TypeError"
When running the client like this:

[code]

There is an ImportError:

[code]

I don't understand why Python is giving this error, since the server example code runs fine, and I see the code for `get_middlewares_chain`  in `middlewares.py` actually exists. But even trying to import it in an empty python console gets the same error.

I temporarily copied the code from `get_middlewares_chain` into `a

[2019-06-23 08:27] RobertoPrevato commented on #14
@dvtan, Thank you for opening this issue!
I just resolved the issue, and published a new package to PyPi, can you please update using this command;

[code]

The issue was caused by an accidental circular import I introduced recently. It was resolved by extracting and putting in a dedicated module a function that is required by both client and server.

Of course I need to add more tests to this pro

[2019-06-23 08:36] RobertoPrevato commented on #13
Yes, I am planning the following:

* I will separate the HTTP server component from the web framework
- * the web framework will still be called "BlackSheep"
- * the http server will

While doing this, I will make BlackSheep ASGI compatible, so it will be possible to run it on top of `uvicorn`. This will add support for unix domain sockets, and achieve separation of concerns between framework and

[2019-06-23 08:41] #11 closed

[2019-06-23 08:44] RobertoPrevato commented on #8
**For the record:**
I am planning the following:

* I will separate the HTTP server component from the web framework (the web framework will still be called "BlackSheep")
* While doing this, I will make BlackSheep ASGI compatible, so it will be possible to run it on top of `uvicorn`.
* my current HTTP server implementation will be published under a new name in a dedicated package

I recently expla

[2019-06-23 12:46] pgjones commented on #8
Thanks for the update (including the well written post).

[2019-06-23 13:12] RobertoPrevato commented on #8
Thanks, Phil - by the way I just realized I forgot to mention in my post that you also recommended the adoption of ASGI; I just updated my post.

[2019-06-23 18:01] #14 closed

[2019-07-31 05:40] RobertoPrevato commented on #13
Hi @dvtan, now BlackSheep adheres to ASGI. I removed the previous HTTP server implementation, so now it focuses on being a good web framework, and http client. Indirectly, **it supports Unix socket**, depending on the ASGI server used with it.

For now I tested it only with #uvicorn, it should work with #daphne and #hypercorn, too.

Compared to alternatives, You might find interesting these unique

[2019-07-31 05:40] #13 closed

[2019-07-31 05:44] RobertoPrevato commented on #8
Done!

For now I tested only with #uvicorn, but it should work with #daphne and #hypercorn, too. I will dedicate time to prepare some good integration tests, as soon as possible.

[2019-07-31 05:44] #8 closed

[2019-07-31 05:52] RobertoPrevato commented on #7
Writing for future record.

Now #BlackSheep is ASGI compatible. It drops completely its previous implementation of http server, so it requires an ASGI server to run. The HTTP client component is still present, mostly unchanged, and depends on httptools because it uses its response parser.

BlackSheep implements its own functions to write response bytes (using Cython).

For now I tested only with #

[2019-07-31 06:21] waghanza opened #16 "Setting option to the server"
Hi @RobertoPrevato,

Following https://github.com/RobertoPrevato/BlackSheep/wiki/Automatic-reload, I use
[code]

to set **host** and **port** for the server

but on `0.1.4` I have
[code]

Regards,

[2019-07-31 06:25] waghanza commented on #16
I see that the `cython` source for **options** has been removed on #15, I have the switch to `gunicorn` (`uvicorn` based)
[code]

[2019-07-31 06:25] #16 closed

[2019-07-31 14:15] tomchristie commented on #7
Nice one. 👍

[2019-07-31 18:20] pgjones commented on #8
🎉 excellent.

[2019-08-08 12:09] RobertoPrevato commented on #16
Exactly! Thank You!

[2019-08-22 19:24] RobertoPrevato commented on #10
Fixed with https://github.com/RobertoPrevato/BlackSheep/commit/17c62427d5cd0e99d0aaa413e2d8f8bfb962c3ad

[2019-08-22 19:24] #10 closed

[2019-08-26 21:04] RobertoPrevato opened #18 "os.stat offers better performance than aiofiles.os.stat?"
When the number of concurrent connections is limited, reading files using `open` without a thread-pool offers better performance than using thread-pools (like in `aiofiles`). However, when the number of concurrent connections is higher, for example 1000; a thread pool shows its benefit.

The same doesn't hold true for `os.stat`, that offers much better performance than `aiofiles.os.stat` even with

[2019-08-27 20:44] RobertoPrevato commented on #18
done at https://github.com/RobertoPrevato/BlackSheep/commit/38e56a7175a8e61f9ff7d0c22358aae4c0fe62cd

[2019-08-27 20:44] #18 closed

[2019-09-01 06:50] RobertoPrevato opened #20 "Python3.8 Beta deprecation warning one"
To fix:
[code]

[code]

[2019-09-01 08:17] RobertoPrevato commented on #20
Case described [here](https://bugs.python.org/issue34728).

[2019-09-14 03:14] giovanism opened #21 "Inconsistent `request.form()` return values for multipart vs urlencode"
I think the urlencode return value is the best presentation. So, even if the content-type is multipart, request.form() should also return dictionary.

[2019-09-14 08:18] RobertoPrevato commented on #21
Hi @giovanism, thanks for your feedback.
I indeed was wondering what's the best API to handle both cases, so I welcome discussion about this topic.

Both `multipart/form-data` and `application/x-www-form-urlencoded` can contain duplicate keys. Duplicated keys for `multipart/form-data` seems to be more common: for example, when several files are uploaded with the same field name (an HTML file input

[2019-09-22 01:30] giovanism commented on #21
Sorry, I wasn't specific enough. What I originally complained about was when the content_type is `multipart/form-data`, the returned value of `request.form()` is a list of `FormData` objects. But when the content_type is `application/x-www-form-urlencoded`, the returned value is a dict with field name as key and list of values as its values.

I think it would be more preferable to have more consis

[2019-09-29 12:00] RobertoPrevato commented on #21
Sorry for replying late; you were specific and I understood what you meant. I agree and I am going to make the code API consistent for `request.form()`. My previous considerations are still actual; since in HTTP it's licit to have several fields (not only files) with the same name in multipart form data, I don't like to assume this will happen only for file uploads. I will implement a solution to

[2019-09-29 14:11] RobertoPrevato commented on #20
Fixed at https://github.com/RobertoPrevato/BlackSheep/commit/19f0e54b13340e74813e3ee14685bb3d4aff3814

[2019-09-29 14:11] #20 closed

[2019-09-30 13:36] giovanism commented on #21
Great! Hacktoberfest is near and I'm interested to work on this issue. So, can you let me work on this?

[2019-10-02 07:42] RobertoPrevato commented on #21
I would like to take care of this task, since it's about existing code and I already dedicated a good deal of time thinking about this topic. But I would be happy to review and accept PRs, if you like to contribute, on one of these (potentially more interesting) things:

* support for [partial requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests) , like: server returning Acce

[2019-10-04 20:10] RobertoPrevato commented on #21
@giovanism, I followed your recommendation and made consistent, as much as possible, the return value of `form()` method. Fixed at https://github.com/RobertoPrevato/BlackSheep/commit/3d9acdff4fb1d481225ceacfc1b6a3a095ac8ef5

* already published in [PyPi, with version 0.1.9](https://pypi.org/project/blacksheep/)

**Bonus**:
1. added `FromForm` binder, so now input from form payload can be parsed au

[2019-10-04 20:10] #21 closed

[2019-10-06 11:43] stonebig opened #23 "Maybe reference a benchmmark site ?"
I found this site :
https://www.techempower.com/benchmarks/

with a clother look at Python only framework there:
https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=fortune&l=zijzen-7

... where I found blacksheep

[2019-10-06 14:04] RobertoPrevato commented on #23
Hi @stonebig,
Thanks for your interest in my framework. :blush:
The benchmarks are already referenced: here in the main README with these words: _High performance, see results from TechEmpower benchmarks (links in Wiki page)_; and in more details in the [Wiki, here](https://github.com/RobertoPrevato/BlackSheep/wiki/Server-performance).

I am the one who made the PR to TechEmpower benchmarks to inc

[2019-10-06 14:22] stonebig commented on #23
ok, so closing.

[2019-10-06 14:22] #23 closed

[2019-10-06 14:32] RobertoPrevato commented on #23
:+1:

[2020-02-02 21:15] harpiyacloud opened #28 "CORS policy"
Hi,

 How can we use the CORS policy in the system. Will you make an addition for this? If you don't have an add-on plan for now, can we do it with middleware support?

[2020-02-03 15:40] RobertoPrevato commented on #28
Hi @harpiyacloud,
Yes, I am planning to add support for CORS configuration through an high level API. This is the next thing in line that I want to implement.

It is already possible to do it with a middleware (or with an async function wrapper). This is a simplified starting point of how I plan to implement this feature:

[code]

Such callable class can then be added to the list of application mi

[2020-02-03 15:49] harpiyacloud commented on #28
Hi,

Thank you very much for your reply. I hope your system will be better and better. I had a few more questions. I want to use pony orm. I tried to connect with the event (on_start, on_stop) in the template you created, but I was not successful. Can you share a sample code? and finally how can I use the jwt system for guarpost. I'm sorry if I asked too many questions.

[2020-02-03 22:53] harpiyacloud commented on #28
Hello again,

I was able to solve the problem of connecting to the database.  :)

[2020-02-05 09:15] RobertoPrevato commented on #28
Hi,
Sorry for replying so late. You didn't ask too many questions, I didn't answer just because I wanted to read a bit about Pony ORM and lately I have little time. :)

I am glad you resolved the issue connecting to the database.

It looks like Pony ORM has a synchronous API. If you are building a web application that will be used by many users concurrently, you should consider using it through a

[2020-02-06 12:35] harpiyacloud commented on #28
Hi @RobertoPrevato

Thank you so much for your information. In the future, I will try to share information about my work.I follow your success with pleasure.

[2020-02-06 20:46] RobertoPrevato opened #29 "Modify binders to use standard syntax for generics"
Currently binders are implemented with non-standard syntax, using instances as type annotations.

[code]

Standard syntax for generics would look like:

[code]

mypy marks this as an error
![image](https://user-images.githubusercontent.com/2576032/73977098-f7512b00-4929-11ea-83b7-81072cfc5cf6.png)

Design a solution to maintain the current features, but using standard syntax.

Example:
[code]

[2020-02-06 21:08] RobertoPrevato opened #30 "Adopt linters to improve code quality, maybe Black formatter"
* Flake8
* mypy
* Black

[2020-02-06 21:13] RobertoPrevato opened #31 "Add workflow to test, update branch policies"
Currently the build happens in Azure DevOps.

Add a workflow to do CI build and validation for PR in GitHub.

[2020-02-08 13:45] harpiyacloud opened #32 "Trusted Host Middleware"
Hi, @RobertoPrevato

By looking at a few examples, I prepared middleware for the trusted host. There was no problem with my checks. Is the middleware I prepared suitable for your standards? I will try to add www redirect to it. I am trying to understand the your redirect response function.

[code]

[2020-02-11 09:39] RobertoPrevato commented on #32
Hi @harpiyacloud,
First thing, thank you for the heads up and bringing up this topic. I was ignorant of the security vulnerability of DNS rebinding when a web server is directly exposed to the internet and doesn't validate the host header, or hosted behind a proxy that doesn't restrict host request headers.

I normally host my web applications behind proxies that do such validation (IIS, NGINX, Ap

[2020-02-11 09:54] harpiyacloud commented on #32
Hi @RobertoPrevato

Thank you for your answer. I will update the system taking into account your suggestions. Yes, I wanted to make a suggestion. Now all web framework structures support this. For example, django requires this for safety reasons at the product stage. I will use it for the system I am working on. Except for a few shortcomings (for exam. jwt, cors maybe Redis cache), your infrastruc

[2020-02-11 10:22] RobertoPrevato commented on #32
Thanks - I will work on these improvements. If you would like to do a PR for the TrustedHostMiddleware, I will accept it.

In the last weeks I learnt many things about code quality assurance in Python (from very talented people), and I started learning about GitHub Actions / workflows. For example I improved `rodi` to add flake8 validation and to have a build validation workflow for PR in GitHub.

[2020-02-12 11:52] catafest opened #33 "default example not work on Linux Ubyuntu."
I try to run on ubuntu
[code]
, default example with error:
[code]

[2020-02-12 13:44] RobertoPrevato commented on #33
Hi @catafest,
it looks like you are using a version of Python that doesn't implement f strings.
f strings were added to [Python 3.6](https://www.python.org/dev/peps/pep-0498/).

BlackSheep is tested by the build pipelines with Python 3.7 and 3.8; some things might not work with older versions of the language. I could add 3.6 to the tests, right now I don't recall if this version is supported.

[2020-02-13 14:51] #33 closed

[2020-03-12 18:19] RobertoPrevato opened #35 "Remove aiofiles"

[2020-04-09 03:06] Izacht13 opened #36 "Unable to get any identifying information from a request"
Trying to get some kind of identifying information from a blacksheep.request object.

Poking around in the source I found `request.identity` which is used for auth, but this is `NoneType` when trying to use it in a route.

Basically just some way to get the IP of the request is what I'm looking for.

[2020-04-10 17:48] RobertoPrevato commented on #36
Hi @Izacht13 ,
Sorry for replying late.
You can read the client IP from the `request.scope`, that contains the scope handled by the underlying ASGI server.

For example:

[code]

The `request.identity` is populated when an authentication strategy is configured. For example, reading identity of a user from a JWT hearder, or a cookie. Unfortunately this part is not [documented yet, only mentioned](h

[2020-04-12 00:56] Izacht13 commented on #36
Hey, thanks for your help!

[2020-04-12 00:56] #36 closed

[2020-07-13 22:31] kaorihinata opened #37 "Cookie parsing not RFC 6265 compliant (enough, at least.)"
##### SUMMARY

`parse_cookie` (at `blacksheep/cookies.pyx`) does not currently split cookie values correctly so parsing cookies with an equals sign in the value fails. I don't know what direction you intend to take cookie parsing in in the future, but limiting to one split should at least allow the unpack to complete for now.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

blacksheep/cookie

[2020-09-08 22:39] #30 closed

[2020-09-08 22:41] RobertoPrevato commented on #29
Fixed by https://github.com/RobertoPrevato/BlackSheep/pull/40

[2020-09-08 22:41] #29 closed

[2020-09-08 22:53] RobertoPrevato opened #43 "Upgrade to httptools 0.1.1"

[2020-09-11 17:27] #43 closed

[2020-10-03 15:23] psdon opened #48 "GraphQL Support"
BlackSheep looks promising but anyone tried to implement Graphene for GraphQL?

[2020-10-03 17:16] RobertoPrevato commented on #48
Thanks @psdon, I didn't look into this, yet.
Currently I am working on adding support for automatic generation of OpenAPI Documentation. This is something I already planned to add before knowing that FastAPI does the same, because I've been using ASP.NET Core with Swashbuckle in the last years. I am going to add support for both OAS 3.x and 2.x, and both YAML and JSON formats.

Once this is done,

[2020-11-30 19:51] RobertoPrevato opened #51 "Enrich the API for OpenAPI Docs"
* support defining common responses to be shared across all operations
* support defining ~~security and~~ servers settings without subclassing `OpenAPIHandler`

[2020-11-30 19:57] RobertoPrevato opened #52 "Add more binders"
* For request HTTP method
* For request URL
* FromText, FromBytes, and FromFiles

[2020-11-30 21:17] RobertoPrevato opened #53 "Improve the API to set response cookies"

[2020-12-06 14:06] RobertoPrevato opened #54 "request.json() causes exception when the request doesn't have any body"
`await request.json()` causes exception when the request doesn't have any body.

[code]

[code]

[2020-12-06 14:10] RobertoPrevato opened #55 "BadRequestFormat exception produces HTTP 500 response"
`BadRequestFormat` should produce an HTTP 400 response.

[code]

[2020-12-06 14:11] RobertoPrevato opened #56 "Improve bad request response for invalid dataclass"
If a JSON input for a dataclass is missing a required property, currently the response doesn't specify the class that is missing a property.

[code]

Improve by returning the information about the class that caused the exception.

[2020-12-09 22:11] RobertoPrevato opened #58 "Update the README to point to the new website"
Remove links to the Wiki in GitHub, update the README and link to the new website
https://www.neoteroi.dev/blacksheep/

[2020-12-09 22:22] RobertoPrevato commented on #48
Small update:

* I published a new website with documentation here [https://www.neoteroi.dev/blacksheep/](https://www.neoteroi.dev/blacksheep/)
* Support for generation of OpenAPI Documentation has been added to BlackSheep and is documented [here](https://www.neoteroi.dev/blacksheep/openapi/)

Things are happening!

[2020-12-10 11:19] waghanza opened #59 "Uvicorn setup change"
Hi @RobertoPrevato,

I can see you ping `uvicorn` version in `requirements.txt`.
https://github.com/RobertoPrevato/BlackSheep/blob/a0bacc8c28f7a6158b73e21f8096bb73949c2406/requirements.txt#L46

The setup of this dependency changes for `0.12`, see https://github.com/encode/uvicorn/blob/master/CHANGELOG.md#0120---2020-09-28

Regards,

[2020-12-10 13:14] RobertoPrevato commented on #59
Hi @waghanza
Thank you for the heads up, I will update soon the dependency.

Note: requirements.txt is used when running tests during the build pipeline, however when installing the package from pypi the only thing that matters is the `install_requires` section in the `setup.py`. `setup.py` doesn't include `uvicorn`, since it's possible to use blacksheep with other kinds of ASGI servers.

I will s

[2020-12-10 13:37] waghanza commented on #59
Then I do not understand https://the-benchmarker.semaphoreci.com/jobs/1fc7fd44-8041-46b8-b8e7-713d965e5b02

`blacksheep` is failing on our CI, I thought it was about `uvicorn`

[2020-12-10 14:54] RobertoPrevato commented on #59
I just verified that BlackSheep supports the latest version of `uvicorn` on Linux (I am not surprised about this because while writing the documentation and testing locally I've been working with the latest uvicorn all the time). I altro tried with `uvicorn[standard]`.
If you provide me a link to the source code of your benchmarks I can take a look.

Here the output of update command that install

[2020-12-10 15:05] RobertoPrevato commented on #59
@waghanza
I took a look at your build logs, and found your repository in GitHub.
https://github.com/the-benchmarker/web-frameworks/blob/master/python/blacksheep/requirements.txt.

I am able to reproduce the issue using a `requirements.txt` file like yours. I try to fix it by changing the requirements file, and I can do a PR to your repository if I find a solution.

[2020-12-10 15:05] waghanza commented on #59
The code is in https://github.com/the-benchmarker/web-frameworks/tree/master/python/blacksheep

perhaps a idea in https://the-benchmarker.semaphoreci.com/jobs/1fc7fd44-8041-46b8-b8e7-713d965e5b02#L338

[2020-12-10 15:22] RobertoPrevato commented on #59
This looks like a bug in `pip` itself to me and its [new resolver](https://docs.google.com/forms/d/e/1FAIpQLSe7crTan5HmokOThigd3XH49aez9A-H90uF7MpS8h9uFy6UPw/viewform).

I can reproduce the error of your build only when using the last version of pip (pip-20.3.1).
The problem if fixed if I change your requirements file to look like this:

[code]

The problem is originating in `gunicorn` without req

[2020-12-10 15:27] RobertoPrevato commented on #59
I tried to push a branch to your repository to submit a PR, but I don't have rights to do so. So I won't submit a PR.

Closing this issue because it's not originating or depending on BlackSheep.

[2020-12-10 15:27] #59 closed

[2020-12-10 15:37] RobertoPrevato commented on #59
I submitted a bug report for the pip team, as [described here](https://docs.google.com/forms/d/e/1FAIpQLSe7crTan5HmokOThigd3XH49aez9A-H90uF7MpS8h9uFy6UPw/viewform).

[2020-12-10 15:38] waghanza commented on #59
Thanks. I have integrated your in the next update in https://github.com/the-benchmarker/web-frameworks/pull/3584 (results will be available tomorrow)

[2020-12-10 19:29] #58 closed

[2020-12-11 08:19] waghanza commented on #59
Results are updated https://github.com/the-benchmarker/web-frameworks#results @RobertoPrevato

[2020-12-11 08:39] RobertoPrevato commented on #59
Thank You! Interesting results!

[2020-12-11 15:10] RobertoPrevato opened #62 "Consolidate essentials dependency"
Consolidate this dependency:

[code]

[2020-12-11 20:16] RobertoPrevato opened #63 "Correct error happening with latest pip-20.3.1"
[code]

[2020-12-11 23:39] #63 closed

[2020-12-12 09:03] #62 closed

[2020-12-16 07:26] RobertoPrevato opened #65 "Provide wheels"
Change the release pipeline to build wheels and include them in the distribution package.

[2020-12-16 21:13] #65 closed

[2020-12-19 12:55] RobertoPrevato opened #67 "The Controller class lacks the method to return files"

[2020-12-20 21:01] RobertoPrevato opened #68 "OpenAPIHandler not using json_spec_path and yaml_spec_path in UI"
OpenAPIHandler not using json_spec_path and yaml_spec_path in UI.

It must use the right paths in the generated HTML.

[2020-12-24 13:37] RobertoPrevato opened #69 "Consider requiring an authenticated user in default authorization policy"
Consider changing the following to request an authenticated user by default:

[code]

This is to make `@auth` more useful and less confusing when the user doesn't specify any authorization rule.

[2020-12-27 10:22] RobertoPrevato commented on #69
Corrected by:

1. adding by default an authorization policy that requires authenticated users
2. changing the default value of `policy` name in `@auth` decorator

The default policy must not have any requirement, so that request handlers by default allow anonymous access, unless they are decorated by `@auth()`.

If the user of the framework needs to invert the situation: require authenticated user

[2020-12-27 11:47] #28 closed

[2020-12-27 11:47] #51 closed

[2020-12-27 11:47] #52 closed

[2020-12-27 11:47] #53 closed

[2020-12-27 11:47] #54 closed

[2020-12-27 11:47] #55 closed

[2020-12-27 11:47] #56 closed

[2020-12-27 11:47] #68 closed

[2020-12-27 11:47] #69 closed

[2020-12-27 11:47] #67 closed

[2020-12-31 12:04] RobertoPrevato opened #71 "Reduce serve files verbosity"
Consider removing `ServeFilesOptions` class.

[2021-01-02 09:02] RobertoPrevato opened #72 "Documentation improvements"
Correct sentences in `https://www.neoteroi.dev/blacksheep/binders/`:

Rephrase to repeat "name":
[code]

A dot is missing in the following sentence:
[code]

[2021-01-07 10:21] sugizo opened #73 "request.query values as is not list data type"
# Is your feature request related to a problem?
**background**
insert or update database from cli must convert first
**e.g.**
[code]

**request.query**
`curl -X POST -i "http://localhost:8000/api/post/instrument?name=name3&strings=3"`

**result without calling dict_values() function, the value data type list, will return an error when insert or update database**
[code]

**expected result, solve by

[2021-01-08 13:52] RobertoPrevato commented on #73
Hi @sugizo,
I took some time to answer because I needed time to think. When I implemented the code api for `request.query` I paused to think about how to handle values.

I finally opted for the current behavior because I thought it would be the "lesser evil":

* query string keys can be repeated, so the same key can be associated to many values
* most of times, APIs are designed to use a single va

[2021-01-08 15:02] sugizo commented on #73
solution you provide consider it documented on [here](https://www.neoteroi.dev/blacksheep/requests/#reading-json)
so it must be same like :
[code]
taken on same link above

so, the code provided on first issue is cutted down to make it focus on request.query, here is the full code for insert new data
[code]
so can insert new data via cli either using any of these command
[code]
**question**
so how

[2021-01-08 15:22] RobertoPrevato commented on #73
For such scenario, currently you need something like your `dict_values` function. The API in the web framework always return a dictionary like `Dict[str, List[str]]`.

Notes:

1. your function can be simplified to a one liner dictionary comprehension:

[code]

2. if you are going to do synchronous database operations, you will block the event loop of the application, removing the benefits of using

[2021-01-08 16:30] sugizo commented on #73
[code]
yes aware of that, thx
but will leave it as it be for a moment because in pydal there are case to store list [data type ](http://web2py.com/books/default/chapter/29/06/the-database-abstraction-layer#Field-types)

or perhaps you have any idea to simplified dict_values() with if condition and for loop are welcome

thanks

[2021-01-08 16:30] #73 closed

[2021-01-08 22:39] sugizo opened #75 "blacksheep can't show debug when error occured"
blacksheep can't show debug when error occured (either embed in python file or execute the uvicorn server in terminal)
first think related with uvicorn, but test with another framework the same command or python uvicorn.run() can show debug on terminal when error occured (e.g. starlette, fastapi)
**e.g.**
**server.py**
[code]

**test with shell after comment the if condition to execute uvicorn.run

[2021-01-09 08:15] RobertoPrevato commented on #75
Hi,
It is possible to return error details to the client using the option `show_error_details` when instantiating the `Application` object.
Please see the documentation [here](https://www.neoteroi.dev/blacksheep/application/#handling-errors).

You have a good point about using `logging.debug` to log these events, I will fix this in the next version of the framework.
Thank You for your feedback and

[2021-01-09 09:05] sugizo commented on #75
`app = Application(show_error_details = True)`
only result for show error details in web browser env, n think it's not good for visitor, perhaps the error record in backend log file or just show in terminal
or in other hand, if an error occured perhaps can learn some of idea about ticketing (store all error in sqlite database as ticket id n detail for further investigation n only administrator can

[2021-01-09 09:48] RobertoPrevato commented on #75
You are right, I will apply the changes soon and release it with the next version of the framework.

[2021-01-19 06:10] abhinavatai opened #76 "How to bind path to api endpoint?"
Hey, I'm trying to bind dynamic path to api endpoint in BlackSheep just like we do in flask and quart. But it's not working.

Example:

In flask and quart it can be done like this:

url: xyz.com/get/file/dynamic/path/to/file

[code]

How to do this in BlackSheep?

[2021-01-19 07:16] RobertoPrevato commented on #76
Hi @abhinavatai
This is possible using a star, as described [here[(https://www.neoteroi.dev/blacksheep/routing/#catch-all-routes).

[code]

Thank You for opening this issue, though, because it made me realize that the code API can be improved here.

[2021-01-19 09:58] abhinavatai commented on #76
Thanks. For now I can use this.

But as you said it can be improved here.
Do you think a new Automatic Route Binding attribute can be introduced here like **FromPath** to match the framework architecture?

[2021-01-19 10:16] RobertoPrevato commented on #76
Yes, sure. I wouldn't call it **FromPath** for this specific case, since you are interested in the part matched by the  `*` and not the full path, but it is possible.

For example:

[code]

Then:

[code]

However, I think I will implement support for the same kind of syntax in Flask / Quart:

[code]

Since it looks nicer and more consistent with other route parameters that can be matched by name.

[2021-01-19 10:43] abhinavatai commented on #76
Cool. 🙌🏻
Glad that BlackSheep provides a way to write custom Route Attribute. It's really useful in these type of case.

Looking forward to implementation of default syntax. 👍🏻

[2021-01-22 09:17] skivis opened #77 "html() response method not exposed for contollers"
At the moment the  Controller class exposes methods for all response types except html.

 Example:

[code]

Not sure if this is intentional or not. :)

I'll submit a PR for this and you can have a look.

[2021-01-22 12:45] RobertoPrevato commented on #77
Thanks! Indeed, this was something missing.
I just merged your PR, this change will be available in pypi soon, with the next release.

[2021-01-22 12:45] #77 closed

[2021-01-24 09:39] RobertoPrevato commented on #72
➕ implement automation pipelines to deploy the documentation

[2021-01-24 19:17] RobertoPrevato commented on #76
Hi @abhinavatai
This is now available in version [0.3.2](https://pypi.org/project/blacksheep/). Thanks for your constructive feedback, a nice new feauture has been added to the framework: not only it supports the same syntax like Flask, but it also supports more accurate route patterns using the same value rules, for example:

* <int:foo> will match only a web request having a path with `\d+` patt

[2021-01-24 19:17] #76 closed

[2021-01-24 19:25] RobertoPrevato commented on #75
Thanks for the issue report, @sugizo. Now this problem has been corrected in `v0.3.2` and is available on PyPi.
I didn't verify how Starlette exactly handles this, but I modified the code to log both unhandled exceptions and user defined exceptions of `HTTPException` type (useful to handle some scenarios in which the user wants to throw exception).

[2021-01-24 19:25] #75 closed

[2021-01-24 19:26] #71 closed

[2021-01-28 20:14] #72 closed

[2021-02-02 17:51] abhinavatai opened #80 "How BlackSheep can be used for streaming video content?"
Hey,
I am just curious about any built-in method BlackSheep has for streaming video content using http 206 or other?

[2021-02-02 21:07] RobertoPrevato commented on #80
Hi @abhinavatai
Streamed content is supported, using asynchronous generators. There is built-in support for HTTP 206 Partial Content responses, in relation to Range requests for static files, that are automatically handled by the web framework. This means that the framework supports out of the box resumable download of files, and streaming videos at specific points, like resuming the reproduction

[2021-02-03 03:25] abhinavatai commented on #80
@RobertoPrevato Thanks for your quick response.

I checked the source code you shared and it is quite similar to custom logic I have written to use with flask/quart.

Although flask/quart has a method `send_file` to send a file with an optional boolean argument `conditional` which when set to `True`, converts the response to HTTP 206 Partial Content for streaming the same way.

But I don't use thi

[2021-02-05 09:40] skivis opened #81 "Support for background tasks"
Not really an issue, more of a feature request I guess.

I'm wondering if you have thought about adding support for running background tasks in Blacksheep, similar to something like FastApi (Starlette) has.

Atm I'm using an `AsyncIOEventEmitter` (pyee) for running stuff in the background but the problem is obviously that it's not integrated with the DI container in any way.

What's your thoughts

[2021-02-05 13:38] RobertoPrevato commented on #81
Hi @skivis
it didn't came to my mind to implement an abstraction layer to handle background tasks, because what asyncio offers looks already ideal to me. By _ideal_ here I mean, to the right level of abstraction.

I prepared an example to show how I would handle background tasks, including the activation of a service resolved by the CI container / provider:

[code]

To summarize:
* define a callba

[2021-02-07 14:54] skivis commented on #81
No I agree , the abstraction that asyncio provides is definitely enough :)

I think I just overcomplicated things in my head. My goal was simply to launch the background task in a route handler and then reply to the request at once which was easy enough with asyncio.create_task(). I think FastApi and Starlette have some additional stuff going on, like ensuring that the background tasks are run aft

[2021-02-07 15:31] RobertoPrevato commented on #81
Thanks for your feedback, I like hearing opinions and getting a different point of view on things. 😄

Now I understand more the scenario you have in mind. You are describing the use case of [HTTP 202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202) response code: you start an operation and return immediately a response without knowing the result of that operation.

Yes, in s

[2021-02-15 09:29] #80 closed

[2021-02-17 07:21] RobertoPrevato opened #82 "Improve the server side error page"
The server side error page looks spartan at the moment.
Improve the server side error page to look better, maybe add support for customization.

[2021-02-21 22:58] Bloodielie opened #83 "Add testing section to docs"
It would be great to see the testing section in the documentation, especially would like to see service testing (di)

[2021-02-22 07:56] RobertoPrevato commented on #83
Hi @Bloodielie,
Thanks for the recommendation, it is a good idea to add a section about testing in the documentation and I'll do it. I was planning to add actually a section describing how to develop locally, how to run the tests and debug the tests using Visual Studio Code (and maybe PyCharm).

However, I wouldn't go so much into detail to describe specific tests, because it would require a lot o

[2021-02-25 11:39] #83 closed

[2021-02-25 12:10] #82 closed

[2021-02-28 09:06] RobertoPrevato opened #86 "Refactor JSON content dumps argument"
Refactor the Json Content class to handle a simpler dumps callable:
`Callable[[object], str]` instead of the current `dumps` method-like from the built-in json module. The API will be clearer this way.

[2021-03-02 12:22] RobertoPrevato opened #87 "Add support for ReDoc UI"
ReDoc UI

[2021-03-03 13:51] Bloodielie opened #88 "Add support for websocket"
Websocket

[2021-03-05 10:09] RobertoPrevato opened #89 "Document better support for pydantic models"
The documentation mentions that `FromJson` supports pydantic models, but doesn't show an example.

It is worth including this information also in the project's README.

[2021-03-06 17:46] RobertoPrevato opened #90 "Missing CORS response headers in case of Exception"
The CORS middleware configures the following response headers if the request handler doesn't throw exception:

[code]

However, these response headers must also be configured when exceptions are used as a mean to control the flow of the application. For example, to return a Bad Request in case of invalid input, or 409 Conflict response in case of DB conflict (e.g.).

One option is to configure the

[2021-03-17 21:57] RobertoPrevato opened #91 "Enable middlewares as classes"
This piece of code prevents callable classes to be configured as middlewares, which is wrong.

[code]

Callable classes must be enabled. Remove the two lines or improve the logic to support callable classes.

[2021-03-17 21:59] RobertoPrevato opened #92 "messages.pyi is out of date"
messages.pyi is out of date, the Request class doesn't have anymore a `get_cookie` method.
Either add a get_cookie method or improve the `.pyi` file.

[2021-03-20 22:03] #89 closed

[2021-03-20 22:03] #90 closed

[2021-03-20 22:03] #91 closed

[2021-03-20 22:03] #92 closed

[2021-03-21 08:21] RobertoPrevato opened #96 "Handle set-cookie when length exceeds maximum length"
Example log from Opera:

[code]

[2021-03-21 08:22] RobertoPrevato commented on #96
Either throw exception or implement chunking and aggregating logic.

[2021-03-25 22:29] RobertoPrevato opened #97 "Support for OpenAPI Docs anonymous access"
When a default policy is configured to require an authenticated user, the OpenAPI Documentation endpoint cannot be exposed for anonymous access.

[2021-03-31 16:32] RobertoPrevato commented on #88
Hi @Bloodielie and @tiptop96, thanks for your interest. 😄
Yes, I am planning to implement an abstraction layer for WebSockets, but right now I don't know yet when I will start. By the way, any contribution is welcome: in case, the implementation should be compatible with the abstraction layer provided by ASGI for web sockets.

The good news is that, even if I won't work immediately on WebSockets,

[2021-03-31 17:49] tiptop96 commented on #88
That sounds awesome! I'm looking forward to reading it all!

If I find the time I will deffo contribute, I actually had some time to play around with it after work today and I am loving it so far! I built a middleware to coerce choosen types into the `Response` type allowing you to do stuff like this!

[code]

[code]
Will be exploring the framework further soon!

Btw unrelated to this issue I just

[2021-04-11 17:21] RobertoPrevato opened #99 "Enable logging of route pattern for each web request"
For logging purposes, it makes sense to enable users of the library to access the route object that matched a web request.

For example, when using OpenCensus and Azure Application Insights integration, metrics should contain the route pattern, and not the actual path, like in this case:

![image](https://user-images.githubusercontent.com/2576032/114314413-d02c5580-9afa-11eb-97f8-bfa69f74b634.png)

[2021-04-13 17:38] RobertoPrevato opened #100 "Support request handlers returning objects"
Currently there is a discrepancy between how OpenAPI Documentation can be generated automatically for input models, and output models.

Input models can be derived by request handler function signature, but since BlackSheep now requires request handlers to return instances of `Response` class, output contracts cannot be derived easily.

BlackSheep should support request handlers defined to return

[2021-04-15 21:51] RobertoPrevato commented on #100
A first implementation has been done, to support return types different than `Response`, defaulting to responses with JSON payload (most likely the most common scenario today). This has the extra benefit to enable automatic generation of OpenAPI Documentation when request handlers are annotated with a return type.

[2021-04-15 22:27] #86 closed

[2021-04-15 22:27] #87 closed

[2021-04-15 22:27] #97 closed

[2021-04-15 22:27] #99 closed

[2021-04-15 22:27] #100 closed

[2021-04-16 15:54] RobertoPrevato opened #104 "Python 3.10 - PEP 563"
Make compatible with PEP 563

https://www.python.org/dev/peps/pep-0563/

[2021-04-16 20:41] RobertoPrevato commented on #104
See #107

[2021-04-17 08:27] #104 closed

[2021-04-24 04:12] kun1996 opened #109 "cookie expires time need more format support maybe"
Thank you for writing such a great framework
I really like this
But while learning, I found a small problem

when I use client example
[code]
it working well

but after I changed https://docs.python.org/3/ to https://www.baidu.com
it raise error
[code]
This seems to be an error caused by %Y
looking for the error, I found that the date support here may be a bit not good

[code]
it only supports two

[2021-04-24 06:34] RobertoPrevato commented on #109
@kun1996 Thank You for your kind words and reporting this bug!
I will fix this error as soon as possible. In fact, it's best if I change my code to use the built-in function.

[2021-04-24 07:39] RobertoPrevato commented on #109
@kun1996, I just fixed this bug and the new version of BlackSheep is already available in [PyPi](https://pypi.org/project/blacksheep/).

Thank you again for opening this issue! I have limited resources on this project, and I've been very much focused on the server part, so the client part is not curated as well as the web framework at the moment (see also the discussion I opened a few days ago: ht

[2021-04-24 07:39] #109 closed

[2021-04-24 10:41] kun1996 commented on #109
Thank you
I like BlackSheep

[2021-04-25 20:44] RobertoPrevato opened #111 "Support for error handlers registered using decorators"
It would be interesting to support the same way to register error handlers using decorators, like in Flask:

![image](https://user-images.githubusercontent.com/2576032/116009070-c84ed400-a617-11eb-80f5-ed50009f1927.png)

https://twitter.com/testdrivenio/status/1384398245648994307

[2021-04-26 13:11] kun1996 commented on #88
This is my socket implementation
It's just a simple implementation. There's still a long way to go before it's done
At present, I'm thinking about how to integrate into blacksheet

[code]

[2021-04-27 14:39] myusko commented on #111
@RobertoPrevato Hey,

Sounds interesting, if no one doesn't work on this, I'll happy to take it, once I've got a free time.

[2021-04-27 15:17] RobertoPrevato commented on #111
Hi @myusko, yes please, I would appreciate that very much.
The application class has a property, `exceptions_handlers` used to define exception handlers by status or by exception class.

Inside the file `test_application.py` you can find some examples of exception handlers defined by status code (`test_application_http_exception_handlers`) and  by exception class (e.g. `test_application_user_defin

[2021-04-27 15:47] myusko commented on #111
@RobertoPrevato Thank you for the information!

[2021-04-29 11:16] myusko opened #113 "Contributing documentation"
Hi @RobertoPrevato and thank you for a cool framework.

Probably for new contributors, would be cool to see **contribution** documentation in place.

- how to contribute
- what type of style we should follow
- how to set up a development environment
- how we should name branches
- ...etc..

Does this make sense?

[2021-04-29 11:20] kun1996 commented on #113
I couldn't agree more

[2021-04-29 12:26] RobertoPrevato commented on #113
You have a good point, I will write something about this subject as soon as possible.
I was planning to write something on this subject, I postponed simply because I was working on other things.

I will describe these things in the upcoming weekend (in two days' time) 👍🏼

[2021-04-29 12:32] myusko commented on #113
Sure, take your time! I believe the community going to appreciate it.

[2021-04-30 12:37] myusko commented on #96
@RobertoPrevato based on https://tools.ietf.org/html/rfc6265#section-6.1

Probably we should throw the exception, and don't consider chunking, what do you think?

[2021-04-30 13:56] #111 closed

[2021-04-30 14:07] myusko opened #114 "Clean up tests"
Hey @RobertoPrevato per our discussion, would be cool to make our tests, a bit cleaner.

- Use **pytest fixtures** if the code is repeating
- Remove unused imports

And if you have some thoughts, what we should definitely refactor in our tests, please share it :smile: I'd happy to clean up tests.

P.S in the core functionality, I also saw unused imports, etc, in the future, we should clean up it a

[2021-04-30 14:14] RobertoPrevato commented on #96
@myusko I am a bit undecided. Throwing exception makes sense and is a perfectly legitimate thing to do.
On the other hand, it could be a better user experience for programmers if the web framework emitted a warning and automatically handled the situation, creating several cookies. I recall that I saw this practice somewhere in the past, like some server creating `COOKIE_NAME_1`, `COOKIE_NAME_2` an

[2021-04-30 14:25] RobertoPrevato commented on #114
Perfect! 😄
I am not sure if unused imports in the core functionality are not simply those done to enable importing and shorten the import path for users of the library. Because I am using `flake8` to detect this kind of things and this is also validated during the [CI build](https://github.com/Neoteroi/BlackSheep/blob/main/.github/workflows/main.yml) (if you search for `flake8` you will see it the

[2021-04-30 18:48] myusko commented on #114
@RobertoPrevato Yeah, regarding unused imports, sorry this is my bad, I was sure that I've seen it in the code :smile:

[2021-05-01 12:01] myusko opened #117 "Add TestClient for server testing"
Hey,

I believe would be great to add `TestClient` in order to achieve neat testability of the server, and provide a greater experience for the programmers.

My thoughts, it should be looks like the example below.

[code]

[2021-05-01 13:37] RobertoPrevato commented on #117
Hi,
Very good idea, again. 😄 I would recommend naming the methods with `get`, `post`, `put`, etc. (without "simulate_").

The test client should also support the built-in strategy for authentication, maybe accepting a `user` argument for each method, or a context manager, like

[code]

[2021-05-01 13:43] RobertoPrevato commented on #117
@myusko as a side note, since version `1.0.2`, you can write your example above this way:

[code]

Or, even better because you gain automatic OpenAPI Documentation for responses:

[code]

The same works with `Pydantic` models.

[2021-05-01 18:01] myusko commented on #117
@RobertoPrevato Yeah, also agree with the built-in strategy for authentication, also I'd suggest prioritizing this issue, since, have a possibility easy to test an API/service, etc, which is very important nowadays.

Also, since you're creator and maintainer of the framework, it will be really great to hear your opinion, how the TestClient API should look like, what we should avoid, etc.

[2021-05-02 07:52] RobertoPrevato opened #118 "OpenAPI Documentation: improvement for various status codes"
It would be nice to support automatic generation of OpenAPI Documentation for various response codes.

For example, in the following case it's not possible to generate return type documentation automatically:

[code]

Because the framework doesn't know ahead of time that the response will have the redirect's status code.

However, this would be possible if specific response types were defined:

[c

[2021-05-02 10:22] RobertoPrevato commented on #113
Hi @kun1996 @myusko
I just deployed an update to the documentation, which includes a new section about contributing.

Can you please check it? If you have recommendations to improve it, please let me know. https://www.neoteroi.dev/blacksheep/contributing/

Side note: currently the documentation is in a [public repository in Azure DevOps](https://dev.azure.com/robertoprevato/BlackSheep/_git/Docs).

[2021-05-02 13:16] myusko commented on #113
@RobertoPrevato I definitely love it :heart: also, probably in the future we can consider [isort](https://github.com/PyCQA/isort) and [mypy](https://github.com/python/mypy)
I have already run the mypy cheks and looks like if we decided to use `mypy` we will have some work in order to make `mypy` happy

[2021-05-02 16:49] RobertoPrevato commented on #113
I didn't know about `isort`, thanks for the heads up! Speaking about `mypy`, I have experience with it: last year I had the pleasure to work for EdgeDB for several months, and the first task they asked me to help with, was exactly refactoring EdgeDB's source code to make MyPy happy and achieve 100% type coverage.

Here's my opinion at the light of that experience:
1. I find MyPy extremely useful d

[2021-05-02 19:19] myusko commented on #113
Thanks for sharing your experience, that's really interesting:)

Regarding `isort` I love it and trying to use in each my project, probably we can find some useful extensions for the **flake8** https://github.com/DmytroLitvinov/awesome-flake8-extensions and integrate into **BlackSheep**.

[2021-05-03 07:47] RobertoPrevato commented on #113
Closing this issue now, if any more recommendation will arrive for documenting how to contribute to BlackSheep, we can improve later the documentation. 😄

[2021-05-03 07:47] #113 closed

[2021-05-03 08:16] RobertoPrevato commented on #117
I need to think a bit about this. These days I am working on an advanced demo project / project template for Azure web apps, as I [described in Twitter](https://twitter.com/RobertoPrevato/status/1388033944130662401).

I agree this is an important feature. I will share my thoughts after publishing and documenting the project template, and come up with some proposal.

[2021-05-03 10:06] myusko opened #120 "Typo in documentation"
The documentation said that we can set cookies in this way

[code]

I expect that cookies will be set.

**Actual result**

We're getting an error
[code]

[2021-05-03 10:36] RobertoPrevato commented on #120
I am fixing this, by the way the documentation around cookies is poor. I will take the occasion to improve it.

I just noticed that even the stub file is out of date, it doesn't document properly the `CookieSameSiteMode` enum.

[2021-05-03 14:05] RobertoPrevato commented on #120
That error in the documentation has been fixed:
https://www.neoteroi.dev/blacksheep/responses/#setting-cookies

Contextually, two mistakes in Python stub files are going to be fixed in the framework's source code.

[2021-05-03 14:05] #120 closed

[2021-05-03 14:22] myusko commented on #120
Nice-nice!

[2021-05-03 14:36] RobertoPrevato commented on #81
This has been documented -> https://www.neoteroi.dev/blacksheep/background-tasks/

[2021-05-03 14:36] #81 closed

[2021-05-03 19:47] myusko commented on #117
Nice to hear it, because I've been thinking about it yesterday and today, and can't see any suitable implementation, which will satisfy all needs.

Since, in the `Application.__call__()` we're passing parameters which `asgi` expecting, and we don't operate with the `Response` class directly. And probably that's the main blocker for me, right now.

I've tried really simple implementations
[code]
Th

[2021-05-03 19:58] RobertoPrevato commented on #117
@myusko I'll need to wrap my head around this subject a bit. As I said I am now focused on sharing a project template for projects to be published in Azure, with some advanced topics. It won't take many hours to share my project template, since I've already created a private project that uses the same things.

About the `TestClient`, I would prefer to make it abstracted from `ASGI`, because I don'

[2021-05-04 06:04] RobertoPrevato opened #122 "Document how to run integration tests with a server running in memory"
Since the integration tests already provide a [working example](https://github.com/Neoteroi/BlackSheep/blob/main/itests/server_fixtures.py), it's worth documenting how to use `pytest` to run a web server in memory and run end-to-end tests with a real HTTP Client, although this kind of knowledge is not strictly related to blacksheep.

[2021-05-04 09:53] myusko commented on #117
@RobertoPrevato Hey, please don't consider it as "pushing" you to provide immediately your ideas, I just played with TestClient, and looking how we can implement it, and then decided to share my ideas:)

[2021-05-04 10:15] RobertoPrevato commented on #117
No worries, I don't feel like you are pushing :) on the contrary, I am happy that you are helping with this project and I appreciate it very much. 🌞
I'll write more later.

[2021-05-04 11:30] myusko commented on #117
Nice to hear it, I think that I have really small progress regarding TestClient, and I believe it will be a small start for future implementation.

And a good place to discuss further steps. I'll try to send a PR in few days.

Thank you, @RobertoPrevato

[2021-05-04 15:09] RobertoPrevato opened #124 "Add support for documenting parameters' descriptions"
See https://github.com/Neoteroi/BlackSheep/discussions/123

[2021-05-07 15:56] myusko commented on #117
Small update from my side, I didn't start yet a draft implementation, due to fact that I don't have enough free time=(

[2021-05-07 18:22] RobertoPrevato commented on #117
No pressure. I also don't work full time on this project. I have a full time job from Monday to Friday. 😄 on my side, I actually switched temporarily to issue #124 because it's missing and it can be added in relatively short time.

[2021-05-09 13:37] RobertoPrevato commented on #96
Hi @myusko,
after thinking a bit, I decided to follow your recommendation and throw exception for this case. In the future I will add two helper methods to handle bigger cookies, but they will need to be used explicitly.

This exception will be included in `1.0.4` (publishing soon).

[2021-05-09 14:03] RobertoPrevato commented on #124
Fixed at #125

[2021-05-09 14:03] #124 closed

[2021-05-09 14:04] RobertoPrevato commented on #96
Fixed at #125

[2021-05-09 14:04] #96 closed

[2021-05-09 14:35] RobertoPrevato opened #126 "Support also describing the request body using parameters in docstrings"
#125 added support for describing OpenAPI parameters by docstring. Request body is handled differently in OpenAPI Documentation v3, separately from parameters.

At the moment, the request body can only be described explicitly, using the `@docs` decorator. It would be interesting to support describing the request body in docstrings in the same way as other kinds of parameters can be described.

[2021-05-09 14:42] RobertoPrevato commented on #126
Example of method having a parameter documented using docstring and the request body explicitly:

[code]

[2021-05-10 17:18] myusko commented on #96
@RobertoPrevato I love it! let's make BlackSheep better 🚀

[2021-05-11 08:13] myusko opened #128 "Typo in the documentation(middleware)"
Hey @RobertoPrevato in the middlewares documentation we should fix code-example
https://www.neoteroi.dev/blacksheep/middlewares/

Handler `home` should receive `request` argument.

[2021-05-11 08:27] RobertoPrevato commented on #128
Hi @myusko, there is no typo. :D
The example works thanks to the normalization of request handlers! This is one of the most complex features I added to the framework (ASP.NET Core behaves in the same way, so I was inspired by it).

Please try it, you'll see that it works.

![image](https://user-images.githubusercontent.com/2576032/117783381-c48b9600-b242-11eb-87d0-46b0567345a0.png)

This thing is

[2021-05-11 08:27] #128 closed, assigned to nobody

[2021-05-11 08:43] RobertoPrevato opened #129 "Update documentation"
* Describe support for documenting parameters
* Describe support for documenting parameters using docstrings
* Fix typo: `respone type annotation` under request handlers normalization
* Describe support for Generics in OAD
* Document how to use the TestClient 🚀
* Document OAD events

[2021-05-13 05:21] waghanza opened #131 "Recent failing"
Hi @RobertoPrevato

When staring https://github.com/the-benchmarker/web-frameworks/blob/master/python/blacksheep/server.py, I have (recently) the following

[code]

Related to https://github.com/the-benchmarker/web-frameworks/issues/4282

Regards,

[2021-05-13 06:52] RobertoPrevato commented on #131
Hi @waghanza
Sorry for not being so active in `the-benchmarker`. I can fix this, the `app.start()` method should not be called this way anymore, since the framework is now using ASGI.

I'll check this as soon as I can (maybe later today).

[2021-05-13 06:54] waghanza commented on #131
np, we have all activities alongside OSS

ok, thanks. I'll wait your fix to publish new result on https://web-frameworks-benchmark.netlify.app, our new UI

[2021-05-14 07:00] myusko commented on #117
Update: Didn't touch the TestClient yet.

[2021-05-14 07:07] myusko opened #133 "Create a communication channel."
Hey, @RobertoPrevato probably would be cool to create a communication channel for BlackSheep, where the community and contributors can elaborate/discuss/ask, etc.

Possible good clients

- Discord
- Gitter

What do you think, makes sense?

[2021-05-15 07:39] david-lint opened #134 "Right way to use Postgres"
Sorry for disturbing, I'm new with python.
Could you please show me a sample of right way to connect 🐑 with a postgres.

Thank you!

[2021-05-15 14:02] RobertoPrevato commented on #134
Hi @david-lint
Tomorrow I will publish a project template featuring one of the possible good ways to use Postgres. There is not a single "right way", because some people like to use SQL dbs with an ORM, some people prefer not to use ORMs; some prefer DB first approach, others code first.

I personally prefer code first approach, and I like both using ORMs and using db drivers directly.

The templa

[2021-05-15 14:19] RobertoPrevato commented on #134
Note that the telemetries are collected using OpenCensus, therefore the same principle I will share is valid and applies to other scenarios (even without Azure Application Insights).

[2021-05-17 06:23] RobertoPrevato commented on #134
Hi @david-lint,
As I promised, yesterday I started publishing the demo project I am working on. It is still a work in progress, but you can already see an example of using PostgreSQL with BlackSheep.

I described it here: https://github.com/Neoteroi/BlackSheep/discussions/130#discussioncomment-746498

Hope this helps. 🙂

[2021-05-17 16:08] RobertoPrevato commented on #131
Hi @waghanza,
I created a PR, I tested locally and it works after my fix. The `app.start()` wasn't needed anymore (Uvicorn emits start events). 😄  https://github.com/the-benchmarker/web-frameworks/pull/4304

[2021-05-17 18:31] waghanza commented on #131
waiting for https://github.com/encode/uvicorn/pull/1024 (actual version of `BlackSheep` is incompatible with **Cython** based tools on `uvicorn`, mainly `uvloop`)

[2021-05-17 18:53] RobertoPrevato commented on #133
Hi @myusko,
sorry for replying late. I like your idea, and yes it makes sense. I don't have experience in neither Discord or Gitter, but lately I wanted to try Discord; it will be interesting to check both of them.
Eventually, would you have time to help with administering the channel?

[2021-05-17 19:28] RobertoPrevato commented on #131
OK - testing with Alpine I think there are two options:

1. installing `uvicorn` without `[standard]` clause: uvicorn should use anyway httptools because it will be available at runtime (it's a dependency for `blacksheep` http client implementation)
2. lock `blacksheep` to `1.0.3` until `uvicorn[standard]` will reference the older version of httptools

[2021-05-17 19:33] waghanza commented on #131
CI is ok for me
https://the-benchmarker.semaphoreci.com/jobs/1ab5ec4f-af57-4c05-8032-13f90bc8476f

I prefer the second solution, since it use the same tooling as other  `asgi` framework, the first solution will mislead results, imhp

[2021-05-18 07:10] #131 closed

[2021-05-18 09:02] myusko commented on #133
Yeah, sure, I can.

[2021-05-18 18:26] RobertoPrevato opened #135 "Response type normalization makes harder to define custom decorators"
Response type normalization makes harder to define custom decorators for request handlers.

The example presented here: https://www.neoteroi.dev/blacksheep/middlewares/#wrapping-request-handlers
doesn't work when response type normalization is used.

TODO: check and find a solution; a custom `@wraps` decorator might be acceptable

[2021-05-18 18:55] myusko commented on #134
Also, to add a few more words to the @RobertoPrevato 's answer, you can consider the MVC pattern for your applications.

Regarding async libraries, I can suggest the https://github.com/encode/databases package

[2021-05-18 18:58] myusko commented on #133
Once you create a channel or will need help/support, let me know.

[2021-05-18 20:26] RobertoPrevato commented on #133
Thank you! I didn't have time yet to check this. I spent some time investigating an issue in blacksheep today, I am also still working on the [demo project](https://github.com/Neoteroi/Venezia/tree/dev).

Do you have any recommendation over Discord vs Gitter? I am leaning towards Discord, but I don't know them enough to have a clear preference.

[2021-05-18 20:26] #133 closed

[2021-05-22 13:31] RobertoPrevato commented on #134
Hi @david-lint
Today I published a library to simplify the integration with SQLAlchemy -> https://pypi.org/project/blacksheep-sqlalchemy/

For now it's basic, as it registers the necessary services to:
* registers services to the DI container so that db connection, sessions, and the engine, so that they can be injected to request handlers (or dependent services) - [there is a full example here](ht

[2021-05-22 13:31] #134 closed

[2021-05-22 15:56] RobertoPrevato opened #138 "Try using orjson, or adding support for orjson, to the base JSONContent"
https://github.com/ijl/orjson

[2021-05-30 01:20] romikforest opened #153 "hypercorn: TypeError: Argument 'headers' has incorrect type (expected list, got Headers)"
I wrote a simple application and it works nice with uvicorn. But if I try to use hypercorn it crushes with TypeError: Argument 'headers' has incorrect type (expected list, got Headers)

Error in ASGI Framework
Traceback (most recent call last):
  File "/Users/romik/Work/swo/Release3/kbtest3/venv/lib/python3.9/site-packages/hypercorn/asyncio/context.py", line 39, in _handle
    await invoke_asgi(ap

[2021-05-30 07:02] RobertoPrevato commented on #153
@romikforest thank you for this bug report. I should improve the integration tests to test also other kinds of ASGI frameworks. I will look into this soon. By the way I am a bit surprised because `headers` from the ASGI frameworks should look the same (probably they are equivalent in Python, but not for Cython).

[2021-05-30 07:46] RobertoPrevato commented on #153
I reproduced the issue and I confirm that Hypercorn handles its own type of Headers, compatible with a list of tuples in Python, but of course not liked by Cython. As a side note, several months ago I tested with Hypercorn and daphne and it was working, this means that in the past Hypercorn was handling headers in the exact same way as uvicorn.

![image](https://user-images.githubusercontent.com/2

[2021-05-30 13:20] RobertoPrevato commented on #153
Hi @romikforest,
I just released [v1.0.6](https://pypi.org/project/blacksheep/), the issue has been resolved. I also modified the integration tests and GitHub Actions to test Hypercorn (maybe I will add daphne in the future). Thanks again for the heads up!

[2021-05-30 13:20] #153 closed

[2021-05-30 13:23] RobertoPrevato commented on #135
The issue has been resolved, but documentation must be updated.

[2021-05-31 13:32] myusko commented on #114
The Issue was fixed in #119 and #115

Reopen it, if we will need to do some clean-up in the tests/core functionality in the future.

[2021-05-31 13:32] #114 closed

[2021-05-31 14:22] NewDay1313 opened #155 "Problem with decorator"
[code]

I got this error

Traceback (most recent call last):
  File "c:\program files\python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\program files\python38\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Program Files\Python38\Scripts\uvicorn.exe\__main__.py", line 7, in <module>
  File "c:\program file

[2021-05-31 14:34] #155 closed

[2021-05-31 14:36] NewDay1313 commented on #155
It was problem with orm

[2021-05-31 21:10] RobertoPrevato opened #156 "Route parameters are not bound when Python naming conventions are not respected"
Route parameters cannot be bound when the user of the library doesn't respect Python naming conventions (e.g. when using camelCase for function arguments).

[code]

[2021-05-31 22:54] #156 closed

[2021-05-31 23:08] RobertoPrevato opened #158 "OpenAPI Documentation: generic type schema improperly set as array"
**Describe the bug**
OpenAPI Documentation: generic type schema improperly set as array.

**To Reproduce**
[code]

[code]

The following works:

[code]

[code]

[2021-06-01 21:06] RobertoPrevato commented on #158
The defective function is:

[code]

it needs to be improved.

[2021-06-06 14:30] #117 closed

[2021-06-06 14:39] RobertoPrevato opened #161 "Add support for mounting ASGI apps"
As recommended in https://github.com/Neoteroi/BlackSheep/discussions/160

[2021-06-06 16:45] RobertoPrevato opened #162 "Add support for more naming scenarios in OpenAPI Docs"
Currently it is not possible to configure the naming for operations in OpenAPI Documentation, therefore assuming that Python developers follow Python naming conventions, the APIs have `snake_case` names, like in the following picture:

![image](https://user-images.githubusercontent.com/2576032/120932683-149d3180-c6f7-11eb-81dc-1d24fc5882ec.png)

It would be nice to support different naming schemes

[2021-06-07 05:07] Anonymous1313-tech opened #163 "Piccolo ORM"
I think if Piccolo ORM was integrated into BlackSheep it would be awesome! because that orm is async and has understandable python syntax, admin, migration and api tools. https://github.com/piccolo-orm/piccolo

[2021-06-07 08:34] myusko commented on #163
Hi @Anonymous1313-tech

This is a good idea to consider it as a standalone extension for the BlackSheep, thanks for the suggestion.

Thanks,
Mykhailo

[2021-06-07 08:36] myusko opened #164 "Add Extensions section the README file"
## 🚀 Feature Request
Add Extension onto the README file

###  Description
It allows to users find quickly links for BlackSheep's extensions.

[2021-06-07 11:13] RobertoPrevato commented on #164
Good idea. I only recommend to add it once we have three or four extensions at least.

Right now we have one for `SQLAlchemy`. We could prepare one for [`Piccolo-ORM`](https://piccolo-orm.readthedocs.io/en/latest/piccolo/engines/postgres_engine.html) very quickly, as recommended earlier today by the anonymous GitHub user.

On top of the TODO list in my mind there is preparing two packages for:
* O

[2021-06-09 05:54] RobertoPrevato commented on #163
Daniel, I just tried the command to bootstrap an application, and I love it!
As I wrote a couple of days ago,  `piccolo orm` looks great to me, I like its fluent code api very much.

I agree with you. With SQLAlchemy it was different because it requires handling ORM sessions, or db connections, so having them configured in the DI container makes sense, but Piccolo takes things under a different po

[2021-06-09 07:18] #158 closed

[2021-06-09 07:19] RobertoPrevato opened #167 "Add support for pydantic custom types (e.g. UrlStr) in OpenAPI Doc generation"
**🚀 Feature Request**
Like in title. See also the custom types used by Piccolo ORM (https://github.com/Neoteroi/BlackSheep/issues/163)

[2021-06-10 10:16] dantownsend commented on #163
@RobertoPrevato Great, thanks for checking that for me.

[2021-06-11 16:02] RobertoPrevato commented on #167
Fixed in `v1.0.7` - it now needs documentation.

[2021-06-11 16:06] RobertoPrevato opened #169 "Client intermittently failing under Windows"
**Describe the bug**
Since upgrading to the last version of `httptools` and restoring the `keep-alive` functionality, the client implementation started failing intermittently and only under Windows, at this point:

[code]

[2021-06-11 21:18] #169 closed

[2021-06-11 21:56] RobertoPrevato commented on #163
I just published `v1.0.7`, which adds support for special types from `pydantic`, which are also used by `piccolo`.

@Anonymous1313-tech I will close this issue, since as Daniel said, it seems there is no need for a dedicated plugin.

As a side note, now the OpenAPI Documentation generated for the scaffold project in [piccolo](https://github.com/piccolo-orm/piccolo) is as follows (it should be righ

[2021-06-11 21:57] RobertoPrevato commented on #163
-- actually, reopening to keep in mind we need to update the documentation to reference `piccolo-orm`.

[2021-06-12 12:28] RobertoPrevato commented on #161
**Notes:** since BlackSheep converts ASGI dictionaries into its specialized classes, it won't be possible to implement mounting by simply modifying the `Router` class, as happens in `Starlette`. An Application supporting `mount` needs to have its `__call__` modified.

One of the reasons why BlackSheep has a decent performance, it's because it's designed to avoid "fees" when features are not used.

[2021-06-15 08:37] myusko commented on #161
Yes, to be honest, I had the same idea, since adding this functionality to the `Application` class will be expensive from the performance perspective.

I going to create a PR in 2-3 days.

[2021-06-15 09:05] RobertoPrevato commented on #161
We might include an ` ASGIApplication` which includes by default extra features (asgi-specific) like mounting. In such case without the mixin (mixin has the downside that if one wishes to use "super().__call__" the order of classes matters. 😸

[2021-06-15 09:39] myusko commented on #161
I have one more thing to say,

Probably we can add the flag`use_mount=True` to the `Application` constructor, does this make sense?

e.g

[code]

[2021-06-15 10:14] RobertoPrevato commented on #161
Since we don't want to modify the base `__call__` method, I would avoid modifying the constructor of the base `Application` class with properties that are not used by `Application` itself. I would prefer a sub-constructor like:

[code]

or:

[code]

I know there is a bit of code repetition for the `4` constructor arguments like in the first case, but I personally prefer it over the `**kwargs` opti

[2021-06-16 13:48] Cdayz opened #172 "Add useful packages to documentation"
Hi, I made a package to integrate with prometheus, it would be cool if ecosystem packages for blacksheep were mentioned in the documentation.

Package: https://github.com/Cdayz/blacksheep-prometheus
PyPI: https://pypi.org/project/blacksheep-prometheus/

[2021-06-16 14:43] RobertoPrevato commented on #172
Hi @Cdayz
Thank you! I am working on the documentation these days, and I was going to add a section for external packages. I will surely add yours to the list.

[2021-06-16 17:24] romikforest opened #173 "dataclass and swagger docs camelCase and snake_case transformations"
Hi.

If I declare some input dataclass using underscore names like:

[code]

and I use it with `FromJSON` or directly as type annotation for some route function, I should pass payload using `ner_label` typing and not `nerLabel` otherwise I have a bad request exception:

`invalid parameter in request payload, caused by type MyInput or one of its subproperties. Error: got an unexpected parameter 'ne

[2021-06-16 18:42] Cdayz commented on #172
Hi, I'm on a roll today, I made another useful package for blacksheep - blacksheep-context.
Package: https://github.com/Cdayz/blacksheep-context
PyPI: https://pypi.org/project/blacksheep-context/

[2021-06-16 18:50] RobertoPrevato commented on #173
Hi,
Can you please try to upgrade to the latest version of BlackSheep (1.0.7)?

Because I just tried to reproduce the error and I couldn't: in the screenshot below you can see a dataclass having a `ner_label` property is documented properly and gets the right value.

![image](https://user-images.githubusercontent.com/2576032/122275027-86d5f900-cee3-11eb-87ee-5bc10c5090d4.png)

In `1.0.7` there are

[2021-06-16 19:06] myusko commented on #173
I think that pydantic can support this, but requires additional configuration.

e.g
[code]

[2021-06-16 20:52] romikforest commented on #173
Hi.

I have upgraded to 1.0.7. and I my code is like this:

<img width="303" alt="изображение" src="https://user-images.githubusercontent.com/14263879/122291073-150aa900-cefd-11eb-80e0-90d2196b9462.png">

<img width="748" alt="изображение" src="https://user-images.githubusercontent.com/14263879/122291185-34a1d180-cefd-11eb-9d84-1a985245c6a9.png">

<img width="841" alt="изображение" src="https://us

[2021-06-16 21:16] RobertoPrevato commented on #173
@romikforest thank you for providing an example to reproduce the issue, I see it now. The bug is in [essentials-openapi](https://github.com/Neoteroi/essentials-openapi) package. I will fix it as soon as possible and release a fix for both libraries.

[2021-06-19 10:51] RobertoPrevato commented on #122
Done https://www.neoteroi.dev/blacksheep/testing/#how-to-run-integration-tests-using-a-server-process

[2021-06-19 10:51] #122 closed

[2021-06-19 11:04] RobertoPrevato commented on #173
Hi @romikforest,
I worked to fix this bug and just published `blacksheep` 1.0.8 which references an updated version of `essentials-openapi`. Please upgrade to the latest version of the framework, things should be working now.

Contextually, I improved other elements, documented in the CHANGELOG.

Thanks again for reporting this bug!

PS. in the future I plan to add also built-in support for pydant

[2021-06-19 11:04] #173 closed

[2021-06-20 10:43] RobertoPrevato opened #176 "Add support for OAD examples defined using pydantic models"
**🚀 Feature Request**
Add support for pydantic models used as example classes for documentation, and tests. Currently they are tested and supported for bindings but not for OAD examples.

[2021-06-20 12:37] myusko commented on #172
Hi @Cdayz These packages look awesome! Thank you for your hard work.

[2021-06-26 10:27] #161 closed

[2021-06-26 12:38] RobertoPrevato opened #180 "Complications caused by Mount"
**🚀 Feature Request**
Since `mount` feature has been introduced in a similar way as it is supported by other ASGI web frameworks, the following complications should be taken into consideration for a mounted BlackSheep app:

1. OAD should take into account the mount path - it gets published in the right location but generates wrong paths for use
1. a cookie issued by a mounted app COULD or maybe SH

[2021-06-27 08:59] #176 closed

[2021-06-29 15:51] myusko commented on #88
@RobertoPrevato Probably we can start work on it.

[2021-06-30 14:16] RobertoPrevato commented on #88
@myusko I agree. By the way, back in March I tested the example that @kun1996 kindly prepared (thank you again - I only reacted with a ❤️ back in March and that was meant as a thank you) - and it's a useful example.

It seems that some more event must be handled because it works for a few messages, then it stops working. @myusko if you have time and will, please read how it is done in Starlette (j

[2021-06-30 15:33] myusko commented on #88
@RobertoPrevato Yeah, once I've got a free time, I will take a look, and will start work on that.

[2021-07-06 15:40] myusko commented on #48
@psdon Hi,

I believe in the future we definitely should implement GraphQL support for the BlackSheep, by the way in the near future we plan to work on **WebSockets** support, see #88

Thank you, and stay tuned.

Best,
Mykhailo

[2021-07-10 15:23] Ppang0405 opened #183 "Deploy to Deta.sh error: Exception in ASGI application"
**Describe the bug**
I just try deploying the example code to Deta Micros and it got the error.

main.py

[code]

**Response**
"Internal Server Error"
![Screen Shot 2021-07-10 at 22 13 04](https://user-images.githubusercontent.com/33455900/125167691-034eb580-e1cc-11eb-932a-6da27a5f7cd8.png)

**Log**
[code]

Please check it https://www.deta.sh/, the other ASGI/WSGI framework: Flask, FastAPI worked.

[2021-07-10 20:04] RobertoPrevato commented on #183
Hi @Ppang0405, thanks for posting this issue.
I took a look at Deta, and I cannot find easily the source code of "/../detalib/adapters/asgi/protocols/http.py".

I also don't have time these days to read the terms and condition to sign-up for Deta to test it.

Could you please help me, telling what is the type of `value` there? The path should be `str` or `bytes`.

[2021-07-14 11:03] RobertoPrevato commented on #138
Keeping this open because the feature needs to be documented (soon I will update the documentation).

[2021-07-16 18:00] RobertoPrevato opened #185 "GoogleDoc style to describe parameters doesn't work properly."
**Describe the bug**
GoogleDoc style to describe parameters doesn't work properly.

Consider the following example:

[code]

[2021-07-16 20:01] #135 closed

[2021-07-16 20:01] #138 closed

[2021-07-16 20:01] #163 closed

[2021-07-16 20:01] RobertoPrevato commented on #138
This is now documented here https://www.neoteroi.dev/blacksheep/settings/

[2021-07-16 20:02] RobertoPrevato commented on #135
Documented here https://www.neoteroi.dev/blacksheep/middlewares/#wrapping-request-handlers

[2021-07-16 20:03] RobertoPrevato commented on #163
Referenced in the documentation here https://github.com/piccolo-orm/piccolo

[2021-07-16 23:16] dantownsend commented on #163
@RobertoPrevato Awesome, thanks for this.

[2021-07-18 14:41] YassineElbouchaibi opened #186 "Allow overriding default exception handler for Unhandled Exception"
**🚀 Feature Request**

Allow overriding default exception handler for Unhandled Exception.

#### Implementation suggestion :

https://github.com/Neoteroi/BlackSheep/blob/main/blacksheep/baseapp.pyx#L132

Could be done by looking for something like `500` or `"DEFAULT"` in the `exceptions_handlers`. If these keys (or the key that will be chosen) don't resolve to a handler then use the framework's de

[2021-07-18 16:49] YassineElbouchaibi opened #187 "Dependency injection of Services in Auth handler."
**🚀 Feature Request**

Dependency injection of Services in Auth handler and Middleware.

This is useful to access config, db session instance and many other things in these handlers.

Maybe there is already a way to do this ?

Currently I do it this way:
[code]

[2021-07-18 17:08] YassineElbouchaibi opened #188 "Ability to set a single handler for all exceptions that inherit from a base exception"
**🚀 Feature Request**

Ability to set a single handler for all exceptions that inherit from a base exception. However, the exception handler mapper would need to always resolve to the youngest descendant for an exception.

This is useful when using a third party library which has a lot of specific exceptions that you want to handle in the same way.

If this is deemed useful for everyone and implem

[2021-07-19 08:39] RobertoPrevato commented on #186
Hi @YassineElbouchaibi, thanks for your very good recommendation. I plan to include this feature soon with the next release. 😄

[2021-07-19 08:41] RobertoPrevato commented on #188
This is another very good recommendation, we will look into this and see if it creates any side effect - but I don't think so. I think #186 would make sense in any case. :)

[2021-07-19 08:54] RobertoPrevato commented on #187
Good idea, `guardpost` could be modified to be integrated with `rodi`, thus supporting DI in those handlers. I will think about this.

Beside that, I think the way you do it now makes sense.  I only have two recommendations:

1. I would keep the authentication handler abstracted from the instance of the web app; for example changing the constructor to accept the services you need, so that you can

[2021-07-19 10:18] YassineElbouchaibi commented on #187
Hi @RobertoPrevato, Thank you for your reply and suggestions. I like your suggestions!

I am definitely going to implement the first one as it makes a lot of sense.

For the second one, I already plan on using JWT, but we are not sure yet if we are going to be using something implemented directly into the main web service for auth, a separate auth service maintained internally or a third party aut

[2021-07-19 15:11] myusko commented on #188
Good suggestion, I love it!

[2021-07-26 13:17] NewDay1313 opened #190 "ValueError"
After updating up to v1.0.9:
**File "C:\Users\1\Desktop\Avicena\.\app\templating.py", line 16, in configure_templating
    use_templates(application, PackageLoader(__name__, "views"))
  File "c:\program files\python38\lib\site-packages\jinja2\loaders.py", line 309, in __init__
    raise ValueError(
ValueError: The 'app.templating' package was not installed in a way that PackageLoader understands.*

[2021-07-27 08:03] RobertoPrevato commented on #190
Hi @NewDay1313, thanks for reporting this bug.

This is related to:
* https://github.com/pallets/jinja/issues/1168

I will find the solution and add more integration tests to reduce the risk of regressions in Jinja integration in the future. This feature is tested but evidently the current tests don't recreate this scenario.

[2021-07-27 08:05] RobertoPrevato commented on #190
Note: I can reproduce this bug only when running the application through `uvicorn` (and possibly and ASGI server), not when running the server directly.

[2021-07-27 08:09] RobertoPrevato commented on #190
@NewDay1313

to fix, please replace:

[code]

With:

[code]

Where "app" is the name of the package containing the `views` folder.

I will update the MVC project template to include this fix. Closing now this issue since it's related to how Jinja2 is used and changes in Jinja2 itself.

[2021-07-27 08:09] #190 closed

[2021-07-27 09:22] Anonymous1313-tech commented on #190
Thanks!

[2021-08-17 21:44] RobertoPrevato commented on #187
Hi @YassineElbouchaibi
Sorry for taking one month to share my code for JWTs validation. In the last weeks I needed a vacation and to recharge my batteries.

I published an example here of JWT Bearer middleware: https://github.com/Neoteroi/BlackSheep-Examples/tree/main/jwt-validation

The code there implements validating JWTs using public RSA keys obtained from JWKS downloaded using OpenID discover

[2021-08-19 21:38] Joffreybvn opened #192 "ORJSON fail to return Response - bytes instead of str"
Hello,
First, I really like what you do with this library !

When I use ORJSON as a plugin, like stated [in the documentation](https://www.neoteroi.dev/blacksheep/settings/), calling `json(data, status=200)` produces this error:
[code]
This is because python's json.dumps() [returns a string](https://docs.python.org/3/library/json.html#json.dumps), while orjson.dumps() [returns a bytes](https://git

[2021-08-20 08:09] RobertoPrevato commented on #192
Hi @Joffreybvn,
Thank You for your kind words and for reporting this bug, this is primarily a mistake in the documentation. I appreciate your proposal, but I would prefer to not add another function to handle JSON responses.

Even though this originated from a mistake in the documentation, I'm considering to change the "plugin" dumps function (the one that currently uses the built-in `json` packag

[2021-08-21 08:49] RobertoPrevato commented on #192
After pondering about this, I decided to:
* update the [documentation](https://www.neoteroi.dev/blacksheep/settings/#example-using-orjson) with correct instructions and more information - this specific issue is fixed
* to **not** modify the current BlackSheep code to add and `isinstance(dumps_result, bytes)` in the function responsible of JSON serialization because this would reduce the performanc

[2021-08-21 08:49] #192 closed

[2021-09-04 17:03] jordemort opened #193 "BlackSheep does't work with a2wsgi"
I attempted to use BlackSheep with https://github.com/abersheeran/a2wsgi so that I could use BlackSheep with https://pywebview.flowrl.com/ which expects a WSGI application.

It doesn't work because it seems that BlackSheep does not fully conform to the ASGI specification. Specifically, the `raw_path` field in an ASGI connection scope is optional, but BlackSheep treats it as required. `a2wsgi` does

[2021-09-04 17:03] jordemort commented on #193
More information here: https://github.com/abersheeran/a2wsgi/issues/18

[2021-09-07 14:14] myusko commented on #193
Hi @jordemort

Thank you for raising up the question, we are welcome new contributors, and love them ❤️

Regarding your question, I'd wait for @RobertoPrevato answer, since I don't know specific reasons why `raw_path` was chosen instead of `path`.

Sincerely,
Mike

[2021-09-20 04:14] karolzlot commented on #48
I think it is a good idea that you consider integration with [strawberry-graphql](https://github.com/strawberry-graphql/strawberry)

[2021-10-16 19:50] RobertoPrevato commented on #192
Hi @mohd-akram,
If you read carefully the comment I wrote when closing this issue, I decided to correct the error in the documentation and not change the code. Please find the documentation with the updated example [here](https://www.neoteroi.dev/blacksheep/settings/#example-using-orjson).

[2021-10-16 19:54] mohd-akram commented on #192
Ah, sorry, I didn't read properly. Thank you and thanks for this cool framework.

[2021-10-17 13:44] RobertoPrevato commented on #192
Thank You!

[2021-10-22 15:51] romikforest opened #194 "Allow python-dateutil 2.8.2"
**🚀 Feature Request**

Hi,

Would it be difficult to allow python-dateutil 2.8.2 in dependencies? I have a conflict that poetry can't resolve:

blacksheep (1.0.9) depends on python-dateutil (2.8.1), blacksheep (>=1.0.9,<2.0.0) requires python-dateutil (2.8.1)
blobxfer (1.11.0) depends on python-dateutil (>=2.8.2,<3)

[2021-10-23 15:35] RobertoPrevato opened #196 "Make wheel for Python 3.10"
**🚀 Feature Request**

Make wheel for Python 3.10

[2021-10-23 15:37] #194 closed, assigned to nobody

[2021-10-24 06:12] RobertoPrevato opened #198 "Fix 11 tests failing with Python 3.10 (OpenAPI Docs)"
Support for Python 3.10 was implemented when Python 3.10 was still in beta and not available in GitHub Workflows. It is generally supported by blacksheep, but 11 tests related to OpenAPI Doc generation and use of generic types don't pass anymore (changes for generics were introduced later).

[2021-10-24 14:58] #198 closed, assigned to RobertoPrevato

[2021-10-24 14:58] #196 closed, assigned to RobertoPrevato

[2021-10-30 09:49] waghanza opened #199 "Dependency mismatch between blacksheep 1.2.0 and uvicorn[standard] 0.15.0"
Hi @RobertoPrevato ,

The last release fails on https://github.com/the-benchmarker/web-frameworks/pull/4774.

The backtrace is
[code]

[2021-10-30 11:42] RobertoPrevato commented on #199
Hi @waghanza,
Thank You for opening this issue. I'll check it as soon as possible.

[2021-10-30 12:05] RobertoPrevato commented on #199
Hi @waghanza
I cannot reproduce the problem, I recreated the same scenario as in your PR https://github.com/the-benchmarker/web-frameworks/pull/4774

using the last version of BlackSheep, last versions of uvicorn and gunicorn, and I don't get the error both when running uvicorn directly without gunicorn, and with gunicorn.

I see that the wrong version of uvicorn is getting installed, `uvicorn-0.5

[2021-10-30 12:16] RobertoPrevato commented on #199
OK, I can reproduce the problem on `python:3.9-slim`.

For some reason pip decides to implicitly downgrade the version of uvicorn along the way. Surprisingly, pip installs the last version of uvicorn just fine if I repeat a command `pip install -U uvicorn` after installing the dependencies from `requirements.txt`.

The good news is that `blacksheep` is behaving well and this is an issue with `requ

[2021-10-30 12:29] RobertoPrevato commented on #199
Found the issue:

it's a dependency mismatch between `blacksheep` and `uvicorn`:

* the last version of blacksheep already updated to the last version of uvicorn
* the last version of uvicorn did not

[code]

Funnily, the problem happens only when installing `uvicorn[standard]`. If we install them this way, everything works fine:

[code]

[2021-10-30 12:34] waghanza commented on #199
Yeah, I can see that and I do not understand what is going on

Seems to be the case with _Cython-based_ `uvicorn` dependencies (`uvicorn[standard]`)

[2021-10-30 12:36] RobertoPrevato commented on #199
Please read my last comment. :) I wrote a stream of comments - sorry for spamming.

[2021-10-31 21:21] #199 closed

[2021-11-03 20:35] RobertoPrevato commented on #187
I just realized that support for dependency injection in middlewares was already implemented in BlackSheep when this issue was opened.

DI is not available in Authentication handlers, but on a second thought - they can be instantiated passing the services to their constructor or the application object, so at the moment I don't consider this feature high priority, compared to other things that can

[2021-11-03 20:36] #183 closed

[2021-11-08 04:59] Trigger7701 opened #201 "using static files"
Hello Roberto, I can't use static files everywhere in template, because when I use that I have to put statics every path. Can I use static files as absolute one directory like Django .

[2021-11-08 09:38] RobertoPrevato commented on #201
Hi!
I am not sure I understand your question. BlackSheep supports configuring folders for static files using absolute paths, and even paths outside of the CWD of the web application. Files are served dynamically, so it's sufficient to configure the parent folder of public files that can be served.

The example [here](https://github.com/Neoteroi/BlackSheepMVC/blob/main/app/program.py) shows how to

[2021-11-08 09:51] Trigger7701 commented on #201
Thanks so much for the reply!
I put statics in this folder: "app/static/mystatic/", and it works for the "127.0.0.1:8000/users/" , but it doesn't work in "127.0.0.1:8000/users/edit" because  "users" is added to the static address.
STATIC:
127.0.0.1:8000/.../some.css is working, but
127.0.0.1:8000/users/.../some.css is not working.
Thanks for your answer!

[2021-11-08 10:27] Trigger7701 commented on #201
I want to keep all the statics in one folder

[2021-11-08 10:50] RobertoPrevato commented on #201
Ah, now I understand. This is not an issue in the web framework, it depends on how you are linking static files on the HTML documents you serve to the client.

This is because of how browsers work. For example, if you have a relative link to a favicon in your HTML, say:

[code]

The problem you describe will happen for documents served at sub-paths.

If you have an absolute link to a favicon, the

[2021-11-08 11:04] Trigger7701 commented on #201
Yes, It's not problem, I'm sorry. I just wanted to ask. I  understood you. But when I use Django it's easy {% static '.../some.css' %}, and I want to use this method in your framework. How can I that.

[2021-11-08 15:11] RobertoPrevato commented on #201
Right now there is no built-in handling for this. It is possible to configure a global helper function in the Jinja2 environment that is set on the application by `use_templates` function, changing the [environment globals](https://jinja.palletsprojects.com/en/3.0.x/api/?highlight=globals%20update#the-global-namespace). Flask has something [similar with Jinja2](https://stackoverflow.com/questions/

[2021-11-09 05:06] Trigger7701 commented on #201
Thank you so much for taking the time to do this and for helping!

[2021-11-09 05:06] #201 closed

[2021-11-09 06:08] RobertoPrevato commented on #201
Thank You for your kind words! I will try to add this feature to the next version that gets published to `pypi`. By the way, these days I am working to add an important feature to the framework: built-in support for OpenID Connect, which will make it very simple to integrate with identity provider services such as `Auth0`, `Okta`, `Azure Active Directory`, and `Azure Active Directory B2C`.

Contex

[2021-11-15 22:37] adriangb commented on #167
@RobertoPrevato I was looking for issues to pick up in BlackSheep, this seems like a reasonably easy one to start with. However, I couldn't find where the docs are, they don't seem to be in this repo. Would you mind pointing me to where the docs are stored?

As for the documentation itself, I imagine this should be pretty simple, basically a blurb saying that the feature is supported and a simpler

[2021-11-16 18:41] RobertoPrevato opened #210 "Support for OpenAPI parameter serialization"
### Discussed in https://github.com/Neoteroi/BlackSheep/discussions/209

<div type='discussions-op-text'>

<sup>Originally posted by **adriangb** November 16, 2021</sup>
Does BlackSheep support for [OpenAPI parameter serialization](https://swagger.io/docs/specification/serialization/) (aside from the defaults)?</div>

[2021-11-16 18:42] RobertoPrevato opened #211 "Support for OpenAPI parameter serialization"
### Discussed in https://github.com/Neoteroi/BlackSheep/discussions/209

<div type='discussions-op-text'>

<sup>Originally posted by **adriangb** November 16, 2021</sup>
Does BlackSheep support for [OpenAPI parameter serialization](https://swagger.io/docs/specification/serialization/) (aside from the defaults)?</div>

[2021-11-16 18:42] RobertoPrevato commented on #211
Duplicate

[2021-11-16 18:42] #211 closed

[2021-11-16 18:42] RobertoPrevato opened #212 "FromForm binder documented as JSON in OpenAPI docs"
### Discussed in https://github.com/Neoteroi/BlackSheep/discussions/208

<div type='discussions-op-text'>

<sup>Originally posted by **adriangb** November 16, 2021</sup>
Not sure if this is a bug report of feature request.

I would like to deserialize and document (in OpenAPI) a multipart request. The docs [have an example](https://www.neoteroi.dev/blacksheep/requests/#reading-form), but it is not

[2021-11-16 18:52] RobertoPrevato commented on #167
Sure @adriangb - and thank you for helping.
The documentation is currently stored in Azure DevOps - I am planning since a long time to transfer it to GitHub, but I didn't have the time to do it, yet.

It is currently here -> https://dev.azure.com/robertoprevato/BlackSheep/_git/Docs
It's also using Git.

Yes, sounds very good.

About this, I would only like to move the documentation to GitHub - I l

[2021-11-16 18:59] adriangb commented on #167
👍 will take a look

Is there any particular reason for this? Most OS project that I know of use either GitHub pages or RTD.

[2021-11-16 21:10] adriangb commented on #167
Fair enough! I was just curious 😄

[2021-11-17 06:29] RobertoPrevato commented on #118
Closed - won't do. Response codes can be documented explicitly and having more classes to handle the response type doesn't seem a good way, on a second thought.

[2021-11-17 06:29] #118 closed

[2021-11-17 06:29] #32 closed

[2021-11-19 06:37] RobertoPrevato commented on #212
This issue will refer to this part only:
* FromForm binder documented as JSON in OpenAPI docs

It can be closed as it has been resolved on the main branch. The recommendation about supporting more complex scenarios for multipart form data in APIs needs to be postponed since it has a different priority.

[2021-11-19 06:37] #212 closed

[2021-11-19 06:39] RobertoPrevato commented on #210
Adding low priority label because:
* in most scenarios users of the library care about defaults (e.g. scalar and list values)
* using the existing API it is possible to define custom binders to satisfy specific needs

[2021-11-21 08:43] RobertoPrevato opened #214 "Add support for Auth Code Flow + PKCE"
**🚀 Feature Request**
Add support for [PKCE](https://developers.onelogin.com/openid-connect/guides/auth-flow-pkce) to the current implementation of OIDC integration.

[2021-11-21 09:25] RobertoPrevato opened #215 "Daphne is not supported"
Daphne is not supported.

* Daphne doesn't handle [lifespan events](https://github.com/django/channels/issues/1216), which are currently required by BlackSheep (it could be modified to start the application upon `__call__`) for Daphne
* Even fixing the above, there are more problems (to investigate)

[2021-12-15 14:45] q0w opened #218 "docs: Error in `dispose_http_client`"
**Describe the bug**
A description of what the bug is, possibly including how to reproduce it.
How it should be:
[code]

[2021-12-15 17:15] RobertoPrevato commented on #218
Thank you for spotting this, I'm fixing it in the documentation.

[2021-12-15 18:50] RobertoPrevato commented on #218
Fixed!

[2021-12-15 18:50] #218 closed

[2021-12-18 04:09] yxlwfds opened #219 "Can i use aiocache in blacksheep"
##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

**🚀 Feature Request**

[2021-12-18 04:10] yxlwfds commented on #219
on router or function

[2021-12-18 08:55] RobertoPrevato commented on #219
Hi @yxlwfds
Sure, request handlers in BlackSheep support additional decorators, so they are compatible with any library.

For example, this works, if you need this kind of functionality:

[code]

You can also register an instance of `Cache` as service, to have it automatically injected by dependency injection, see the function `other_example` below:

[code]

In BlackSheep you cannot apply caching

[2021-12-18 08:55] #219 closed

[2022-02-01 21:11] #88 closed

[2022-02-04 23:31] RobertoPrevato commented on #214
Interesting links:

https://auth0.com/docs/get-started/authentication-and-authorization-flow/call-your-api-using-the-authorization-code-flow-with-pkce

https://www.scottbrady91.com/openid-connect/aspnet-core-using-proof-key-for-code-exchange-pkce

https://www.scottbrady91.com/oauth/client-authentication-vs-pkce

[2022-02-06 17:25] #129 closed

[2022-02-08 20:09] Klavionik opened #226 "WebSocket doesn't support essential binders"
Right now, you can't use binders like `FromQuery`, `FromHeader`, and `FromCookie` with `WebSocket`, as it doesn't provide the required properties: `headers`, `query`, `cookies`. Therefore, for example, you can't guard the WebSocket endpoint with some sort of authorization. That seems pretty important to me.

I investigated a bit into code and found out that both `Request` and `Response` inherit fr

[2022-02-09 19:55] python-programmer opened #227 "Dependency Injection: AttributeError: 'blacksheep.messages.Request' object has no attribute 'get_users'"
I have a main app and multiple sub app
I wrote below codes in a sub app (user app)

[code]

it gives me an error:

`
AttributeError: 'blacksheep.messages.Request' object has no attribute 'get_users'
`

[2022-02-09 20:44] python-programmer opened #228 "Access to main app services in sub apps"
Suppose we have a system that has multiple sub apps

Main App
|
__   User App
|
__   Polls App

If we register the database connection service in main app, we can access to it in sub apps (User App, Polls App)

If this feature is available, please tell us how to use it

Thank you

[2022-02-10 07:17] RobertoPrevato commented on #227
Hi @python-programmer
Thank You for your kind words! This error seems caused by the fact that the sub-application didn't go through the start-up process (the things that happen on `await start()`). I will try to prepare an example today, also to know better how to reply to the other issue you opened.

[2022-02-10 07:21] RobertoPrevato commented on #226
Hi @Klavionik
Thanks for the very good question. I wouldn't recreate the same properties on the WebSocket class.
The initial web request to establish a web socket _is_ a regular HTTP GET request, so I would consider
making the WebSocket a subclass of the request (it is a particular type of request?).

I need to make my hands dirty and try something to give good advice on this.

[2022-02-10 07:27] RobertoPrevato commented on #227
Can you please try following the [instructions here?](https://www.neoteroi.dev/blacksheep/mounting/#handling-of-application-events) and let me know if it helps with this concrete issue?

[code]

[2022-02-10 11:08] python-programmer commented on #227
Thank you
The problem was solved

[2022-02-10 18:44] RobertoPrevato commented on #227
I'm closing this issue now, I will consider trying to initialize the application automatically if it didn't go through the start process.

[2022-02-10 19:25] python-programmer commented on #228
Thank you @RobertoPrevato

I used the same aproach

[code]

My goal is: I want to develop a pluggable-or-modular (in this case package) system

Product:
|
_ User App
|
_ Polls App

but this approach has a downside when using openapi: it cant generate openapi in a single route (Based on my research in the documentation).

for polls app http://your-site/polls/docs
for users app http://your-site/user

[2022-02-11 10:35] Klavionik commented on #226
I'm slightly concerned about the fact that now `WebSocket` inherits some methods and attributes of `Message` that it won't likely need. Like `files` or `form`. Though I guess it's the best solution that you can choose without refactoring the whole hierarchy.

Oh, now it makes more sense. I was wondering, why `Application` creates requests in this slightly odd way, passing some properties of the sc

[2022-02-11 10:41] Klavionik commented on #226
To me, it seems like right now we do exactly what the ASGI spec tells us to do.

https://asgi.readthedocs.io/en/latest/specs/www.html#close-send-event

Maybe I get you wrong and you meant some other case?

[2022-02-11 11:12] RobertoPrevato commented on #226
I don't think this is an issue. The initial WebSocket request is by [definition GET](https://datatracker.ietf.org/doc/html/rfc6455#page-17), so it cannot have any body.
It's arguably the same with requests using methods that don't allow bodies like GET, HEAD, OPTIONS, etc. - they still expose methods to read the content even though they cannot have any. And I know developers who got confused becau

[2022-02-11 11:13] RobertoPrevato commented on #226
Perfect, thanks! I agree🌞

[2022-02-12 09:46] RobertoPrevato opened #230 "Imports are too verbose - make them less verbose"
**🚀 Feature Request**

Consider using re-exports in Python `__init__.py` to shorten the import paths of the most common entities used in the framework.

[2022-02-13 14:32] #230 closed, assigned to RobertoPrevato

[2022-03-05 07:35] RobertoPrevato opened #237 "Add built-in support for Anti Forgery tokens"
**🚀 Feature Request**

Add built-in support for Anti Forgery tokens
* with Jinja2 integration
* without Jinja2
* middleware to validate requests, supporting various ways to send the anti-forgery token (form, header)

[2022-03-12 08:18] RobertoPrevato opened #239 "Automatic handling of events for mounted BlackSheep apps"
**🚀 Feature Request**

When mounting applications that are BlackSheep applications, handle automatically the child application events.

This is a breaking change, so it can become the default in `2.x`, and require explicit opt-in. 💥

Example:

[code]

[2022-03-12 09:53] RobertoPrevato opened #241 "WebSocket not working with latest Uvicorn"
**Describe the bug**
WebSocket integration tests with `websockets` are failing when using the latest version of Uvicorn.

[code]

[2022-03-12 10:11] RobertoPrevato commented on #241
[code]

[2022-03-12 16:09] #241 closed

[2022-03-13 13:32] #237 closed

[2022-03-13 13:32] RobertoPrevato commented on #237
https://www.neoteroi.dev/blacksheep/anti-request-forgery/

[2022-03-13 13:35] RobertoPrevato commented on #228
Hi @python-programmer
Good news: I added support for generating OAD for mounted apps from parents apps, in `1.2.5`.
I will soon describe this in the documentation.

Example:

[code]

[2022-03-13 16:30] #239 closed

[2022-03-13 16:31] #228 closed

[2022-03-15 07:58] RobertoPrevato opened #243 "New PR for TechEmpower benchmarks"
**🚀 Feature Request**

Submit a new PR to TechEmpower Benchmarks.

* [Example](https://github.com/TechEmpower/FrameworkBenchmarks/tree/120dead50771de2208c3dd74b56f6c22829c3023/frameworks/Python/blacksheep)
* [Context](https://github.com/TechEmpower/FrameworkBenchmarks/pull/7210)

[2022-03-16 17:06] yasirakel opened #244 "Multitenant Application"
Hi,

Are you using it in frappe framework before?  It allows multiple sites to work through a single application. The settings file for each site is stored with json and run with the following code.  Is it possible to configure the global settings according to the site name by checking the request header for BlackSheep? If possible how can I configure the request header for the application.

`def

[2022-03-17 19:50] RobertoPrevato commented on #244
Hi @yasirakel
I am not familiar with frappe. The closest thing that is supported in BlackSheep are mounts: https://www.neoteroi.dev/blacksheep/mounting/

To read headers, for example:

[code]

[2022-03-25 18:43] RobertoPrevato opened #245 "Add HSTS middleware to the framework"
**🚀 Feature Request**
Add an HSTS middleware to the library, like:

[code]

[2022-03-25 19:48] RobertoPrevato opened #246 "Add missing article to exception messages"
Add the missing articles to these error messages:

[code]

[2022-04-13 17:44] advenn opened #247 "error 500 custom template"
Hi there! Can I use custom html template for `Internal Server Error` 500? If yes then how to do it?

[2022-04-14 17:07] RobertoPrevato commented on #247
Hi @advenn
Sorry for not replying yesterday.

Currently the only way to customize responses for otherwise unhandled exceptions is to override a method of the `Application` class, like in this example:

[code]

Now that we are speaking about this, it would make sense to make this configurable. On the other hand, the framework provides several ways to handle responses for well-known, thrown exceptio

[2022-04-15 19:44] nico-vromans opened #248 "Can't use FromFiles and FromForm in same request"
For some reason, I can't seem to be able to perform both a multi-file upload with additional data on the same form.

Specs:

 1. [Python 3.10.4](https://www.python.org/downloads/release/python-3104/) (inside virtual environment)
 2. [blacksheep 1.2.5](https://github.com/Neoteroi/BlackSheep/releases/tag/v1.2.5)
 3. Ubuntu 20.04

Here is my html code (simplified):
[code]

Here's what I've tried (but

[2022-04-15 21:29] RobertoPrevato commented on #248
Hi @nico-vromans!
Thank You for submitting this issue. I just verified this is a bug in the `FromForm` binder, the good news is that you can still use the explicit method to read the multipart data, which works:

![image](https://user-images.githubusercontent.com/2576032/163633618-f16d7388-fc84-43f6-bd19-919540eea066.png)

[code]

This returns a list of parts from the multi part request, with file

[2022-04-16 09:38] nico-vromans commented on #248
@RobertoPrevato, thanks for the quick reply. I've tested this "workaround" myself and it works beautifully. 👍🏻

[2022-04-16 09:49] RobertoPrevato commented on #248
I'm glad I could help. 🎉 These days I am working on a plugin for MkDocs to generate automatically human readable documentation from OpenAPI Documentation, so I have limited time for the web framework, but a fix will come soon.

[2022-04-16 11:04] nico-vromans commented on #248
@RobertoPrevato, I'm in no rush and I fully understand having other priorities. Take your time. Good luck with MkDocs, sounds interesting 😉

[2022-04-18 19:27] MaximZayats opened #249 "Add feature to handle validation errors (for example `pydantic.ValidationError`)"
##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

**🚀 Feature Request**
Hi!
Now if we use `pydantic` model, then there is no way to handle `pydantic.ValidationError`
We are getting `400 Bad Request` with `pydantic` error message:
[code]
And if I want to send response with a `ValidationError.json()` this cannot

[2022-04-18 20:34] RobertoPrevato commented on #249
Hi @MaximZayats
Thank You for opening this issue! While replying to your question, I see that this feature that can be improved and documented better.

It is possible to handle the exceptions that are thrown for bad requests by the framework itself, for example with:

[code]

[code]

However, the inner exception from `pydantic` is lost and converted to the `str` message of the raise `HTTPException

[2022-04-18 20:39] RobertoPrevato commented on #249
The second snippet includes an example on how to use currently the `ValidationError.json()` while handling requests causing a bad request response.

[2022-04-18 20:58] MaximZayats commented on #249
Sounds great. Thank you for quick response!

[2022-04-26 17:27] #248 closed

[2022-04-26 20:26] #249 closed

[2022-04-26 20:26] #246 closed

[2022-04-26 21:18] nico-vromans commented on #248
@RobertoPrevato, awesome, thank you 👍🏻 🥳

[2022-04-27 07:07] RobertoPrevato commented on #248
@nico-vromans thank you for reporting this bug! 🎉 I'm still looking into a couple of things, but otherwise I'll soon publish an updated version to PyPi with this fix. I have everything automated so I can release at any time to PyPi without issues.

[2022-04-28 16:35] RobertoPrevato opened #253 "Static files handling bypasses the router fallback route."
**Describe the bug**
The router fallback route does not work properly when the application is also configured to serve static files.
The same applies to the 404 exception handler.

Kindly reported by @nico-vromans.

[2022-04-28 16:56] #253 closed

[2022-04-28 17:28] RobertoPrevato opened #256 "Add request.url_for method"
**🚀 Feature Request**

Add a feature like `request.url_for` in Starlette, (including helper for Jinja2), supporting an optional name.

Maybe:
[code]

Like in Starlette ([ref](https://www.starlette.io/routing/)):
[code]

[2022-05-10 01:48] kevlarr opened #257 "Support PEP-585 style collection type hints for OpenAPI?"
I'm newly discovering BlackSheep and really liking it so far! (Especially being able to use simple data classes for OpenAPI generation.)

[PEP-585](https://peps.python.org/pep-0585/) adds support for generics syntax to standard collection types in Python 3.9+, eg. `list` and `set` so that we don't need to use their equivalents from the `typing` module.

I had hoped the following could work:

[code

[2022-05-10 06:37] RobertoPrevato commented on #257
Hi @kevlarr,
Thanks for your kind words and for opening this issue. I am interested in using these latest features, too, (including Annotated), the only thing that holded me back were limited time and easier handling of support for Python 3.7 and 3.8. But I think it's high time to add these.
During working hours I don't dedicate time to my open source projects, I'll look into this most probably in

[2022-05-10 13:03] kevlarr commented on #257
Makes a lot of sense! Honestly, I think support for 3.7+ is way more important than the convenience of skipping an import, and using `typing` is fine and familiar. I wouldn't even expect you to look into this soon - or at all, given how low priority it is compared to literally any other fixes or changes you might want to make.

If you wanted, I could spike on this for a bit?

Meanwhile, I don't un

[2022-05-12 17:17] virajkanwade commented on #163
Hi @RobertoPrevato
Sorry to comment on a closed ticket, but I think we should still have an extension.

See flask-sqlalchemy for example. https://flask-sqlalchemy.palletsprojects.com/en/2.x/quickstart/
you can just write `db = SqlAlchemy(app)` and it automatically loads the connection settings from the config and initializes all engine setup.
Similarly, you have blacksheep_sqlalchemy , `use_sqlalc

[2022-05-14 08:17] RobertoPrevato commented on #163
Hi @virajkanwade
Regarding `essentials-configuration`, I think you are right and it's time to include it in the web framework to provide some functionalities out of the box (a common way to manage app settings and a configuration root). I didn't do this at the beginning for a couple of reasons, the main being that I created the `essentials-configuration` package much later.

As a side note, I woul

[2022-05-15 05:04] virajkanwade commented on #163
@RobertoPrevato thanks

Altough brought one more question, "more importantly because of lack of time on my side (I already maintain 20 projects inside the Neoteroi organization + a few on my first GitHub account - all for passion and in my private time)" Is blacksheep something that will be officially maintained or is it one of your personal projects?

Thanks

[2022-05-15 14:44] #257 closed

[2022-05-15 14:59] RobertoPrevato commented on #257
@kevlarr thank you for your kind words! 😄
Indeed, I dedicated an incredible amount of hours to these projects. And all in my spare time. As you can see, I also try to be responsive. Anyway, in the next weeks I will be less prolific, I need to restore a bit my work-life balance, take some holiday, and study for one exam.

To give a hint of how much time I dedicated to OSS contributions, one of my f

[2022-05-15 15:32] RobertoPrevato commented on #257
Support for PEP 604 -> https://github.com/Neoteroi/BlackSheep/pull/261

[2022-05-16 13:22] kevlarr commented on #257
@RobertoPrevato Wow, that's incredible - I honestly would not have expected these to be addressed, given how minor they are. I know how tough it can be to make time for open-source or any kind of project outside of work hours. Thank you for the hard work, I hope you're able to restore the work/life balance and get some (I'm sure) well-deserved time off.

[2022-05-24 04:16] mavwolverine opened #263 "Unable to integrate asgi3 middlewares"
**Describe the bug**
A description of what the bug is, possibly including how to reproduce it.

I am trying to include SentryAsgiMiddleware.

I have to hack it a little as per the known issue as:
[code]

But the problem arrises when a URL is actually called.

`TypeError: SentryAsgiMiddleware._run_asgi3() missing 1 required positional argument: 'send'`

[2022-05-24 04:26] virajkanwade commented on #263
Using https://github.com/encode/starlette/blob/b8ea367b4304a98653ec8ce9c794ad0ba6dcaf4b/starlette/middleware/base.py as reference, if I change the function to:

[code]

I get `AttributeError: 'SentryAsgi3Middleware' object has no attribute '__qualname__'` which is `AmbiguousMethodSignatureError`

so somewhere `normalize_middleware` is failing to properly convert it.

[2022-05-24 05:26] RobertoPrevato commented on #263
Hi @virajkanwade,
Sorry for the late response. Yours is a very good question and this should have been documented explicitly.
BlackSheep never had support for ASGI middlewares, because ASGI request scope is all `dict`, `list`, and scalar values, while BlackSheep always handled `Request` and `Response` classes, even before being made compatible with ASGI for the main request-response cycle.

I susp

[2022-05-24 14:22] virajkanwade commented on #263
Hi @RobertoPrevato

Found a sample code for Starlette. Inside the sample asgi3 middleware def __call__:

[code]

Similar call stack for Blacksheep application __call__

[code]

[2022-06-13 09:35] 56907dzq opened #265 "how to pass dynamic params to services?"
##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

Can service add  dynamic params?

for example:

I register ClientSession to app.service,

cam I specify the request_timeout and connection_timeout?

or Timeout could be overridden for a request like ClientSession.get()?

**🚀 Feature Request**

[2022-06-20 14:47] RobertoPrevato commented on #265
Hi @56907dzq
I apologize for  replying so late. 🙇🏼

The dependency injection library supports resolving services that require dynamic parameters using factories.
A common real-life example would be a context object that provides a "correlation id" to a whole scope (in this case, to a web request), as [described here](https://www.neoteroi.dev/blacksheep/dependency-injection/#example-implement-a-req

[2022-06-21 01:37] 56907dzq commented on #265
hi,@RobertoPrevato
Replying so late is doesn't matter.

Then I think specify timeouts for single web requests's ability is necessary, it is not  Depend on often needed but vital.
Why? Look at other package.
In sync, look at requests, it is very popular,it has this capability.
In async, look at aiohttp,it use like the following example:

![image](https://user-images.githubusercontent.com/45482484/1

[2022-07-07 06:38] #265 closed

[2022-07-22 07:15] KhDenys opened #269 "Looks like a controller's router of child app is not reachable"
Hi, I'm very interested in BlackSheep and wanna to use it in my next project. So currently I'm working on a PoC and found that a child app's controller is not reachable. I've followed the [docs](https://www.neoteroi.dev/blacksheep/controllers/).

[2022-07-22 07:25] KhDenys commented on #269
In general, I added child_app.start() and child_app.stop() to parent_app.on_start and parent_app.on_stop, created router instance
[code]
and then used get, post, delete decorators in a controller.

[2022-07-23 09:50] KhDenys commented on #269
My bad, it was an issue with bad order of python imports.

[2022-07-23 09:50] #269 closed

[2022-07-23 14:57] RobertoPrevato opened #270 "Graceful handling of extra properties from clients"
Ignore extra properties when parsing binding input from the request payload?

Example for dataclasses:

[code]

[2022-07-27 02:25] 56907dzq opened #271 "ValueError: Headers does not contain one header with the given key"
**ClientSession**

when make a request,the server doesn`t return a content-type header,  this line in connection.py will cause exception as the title recursive

https://github.com/Neoteroi/BlackSheep/blob/9fe7d66baf13456e3725f66f41cbc961285a8e2d/blacksheep/client/connection.py#L274

[2022-07-27 16:35] RobertoPrevato commented on #271
Thank You for this bug report, I will fix the bug soon.

[2022-07-27 19:32] RobertoPrevato commented on #270
Note:

[code]

[2022-07-27 19:37] RobertoPrevato commented on #270
[code]

[2022-08-02 17:30] Kokoserver opened #272 "Router blueprint"
##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

**🚀 Feature Request**
i don't know, though have tried to check, but i don't know if there is anything like blueprint like of flask or Router like of Fastapi, will really make sense, rather than creating new app instances and mounting it can be really costly.

T

[2022-08-10 11:47] madgagarin opened #273 "Jinja helpers"
##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

**🚀 Feature Request**
Hello! It would be great to see global jinja helpers (like request).
Adding the same method to each request is not rational. Perhaps there is another already implemented method?
Regards!

[2022-08-12 14:32] RobertoPrevato commented on #273
Hi @madgagarin
Sorry for replying late, in the last couple of days I dedicated time to [another open source thing](https://www.neoteroi.dev/mkdocs-plugins/) (always related to my projects).

BlackSheep uses Jinja2 internally and supports adding Jinja helpers. But thanks for asking because I see the feature is not well documented right now, and is not typing friendly, so it can be improved.

An exa

[2022-08-12 14:58] RobertoPrevato commented on #272
Hi @Kokoserver
Sorry for replying late, in the last days I dedicated time to [another open source thing](https://www.neoteroi.dev/mkdocs-plugins/) (will also be useful for BlackSheep).

And thank you for your kind words!

Right now the word "BluePrint" is not used in BlackSheep, but this doesn't mean that the framework lacks features that are equivalent to BluePrints as they are presented in the F

[2022-08-12 18:37] Kokoserver commented on #272
Thanks alot

[2022-08-13 07:52] RobertoPrevato commented on #272
I reopen this issue because the documentation can be improved. 😃

[2022-08-16 15:07] mavwolverine opened #274 "ForwardedHeadersMiddleware - no ability to configure accept_only_proxied_requests"
**Describe the bug**
A description of what the bug is, possibly including how to reproduce it.

The flag, accept_only_proxied_requests,  is hardcoded to True
https://github.com/Neoteroi/BlackSheep/blob/a3656fb7eb0dbb9582f276bf1a61d4d14bbcb077/blacksheep/server/remotes/forwarding.py#L46

Override should be allowed in the constructor.

Would be useful in cloud where load balancer will be used, but m

[2022-08-18 21:30] RobertoPrevato commented on #274
Hi!
Thank You for reporting this issue. You are right that the class should allow configuring that property in the constructor, this can be easily fixed.

It is not a blocking bug, though, as it's always possible to set the property after instantiating the class:

[code]

instead of:

[code]

[2022-09-11 11:20] clementpoiret opened #275 "Cannot import blacksheep.contents. Can't deploy on Vercel"
**Describe the bug**
I'm trying to replace my FastAPI apps on Vercel with BlackSheep.

Here is an example: https://github.com/clementpoiret/blacksheep-vercel

Unfortunately, it seems I can't deploy it, it leads to a server error because:

[code]

Do you know what is happening?
Thanks

[2022-09-16 19:17] RobertoPrevato commented on #275
Hi @clementpoiret
I apologize for replying late - I was very busy this week. I am not familiar with Vercel, therefore I did a bit of reading.
Judging by the comments I read under this blog post: https://dev.to/andrewbaisden/how-to-deploy-a-python-flask-app-to-vercel-2o5k

I suspect that it's possible to deploy a Python app with all dependencies (deploying the virtual environment packages without b

[2022-09-16 20:24] RobertoPrevato commented on #275
I investigated for more than one hour, I learnt some basics of Vercel and run an application locally, but I couldn't find yet why the BlackSheep import fails.

[2022-09-16 20:39] clementpoiret commented on #275
Hi @RobertoPrevato, thanks for your investigation. Yes it also fails locally, so I think we can discard the "Vercel OS hypothesis". Mine was that vercel is looking for .py files only, which aren't here. Maybe its not compatible with cpython ?

[2022-09-16 21:09] RobertoPrevato commented on #275
I managed to make some progress!

Here you can see an API I deployed to Vercel, where you get a reply from BlackSheep: https://blacksheep-vercel-six.vercel.app - the import error is caused by exotic things Vercel does with the Python packages.
I found a fix by accidentally pushing a change, but this should fix the import error:

[code]

The error page from BlackSheep is caused by another problem:

[2022-09-17 04:39] clementpoiret commented on #275
Ohh nice finding! Don't you think we can open an issue on vercel also? Because if it happens with blacksheep it can also happen for other libs 🤔

[2022-09-17 08:23] RobertoPrevato commented on #275
Judging from what I saw yesterday night, I think so. It seems that relative imports are not working because they move Python library files and they (probably) should copy the extension files (`.so` files in this case) to the root folder. This being said, I'll try to create a dev distribution package of BlackSheep that doesn't use relative imports, and instead always uses absolute imports. This mig

[2022-09-17 08:29] RobertoPrevato commented on #275
The other problem regarding lifecycle events might also be caused by breaking changes in `uvicorn` or the `ASGI` specification: I need to check this before I can be certain that it's a problem in the Vercel ASGI handler.

If it doesn't handle life cycle events in general, this is indeed an issue because web applications often need to handle disposable things such as HTTP connection pools, DB conne

[2022-09-17 09:18] RobertoPrevato commented on #275
I confirm my findings about the local environment. I made an experiment to confirm the case:

1. `vercel dev` uses different Python interpreters when installing dependencies and then when running the function app: in my case, Python 3.10 is used when installing dependencies, meaning that extensions get installed for this version of Python (e.g. `example.cpython-310-x86_64-linux-gnu.so`)
2. later w

[2022-09-19 07:57] clementpoiret commented on #275
Thanks a lot, you already made awesome progress! I'll open issues directly for Vercel and reference this one :)

[2022-10-26 07:12] mohd-akram opened #276 "Unable to install on Python 3.11"
**Describe the bug**

Due to the use of the cchardet dependency, which seems to have been abandoned (PyYoshi/cChardet#77), BlackSheep fails to install on Python 3.11:

[code]

EDIT: After manually installing Cython, I can bypass the above error, but now get the same error for blacksheep directly:

[code]

Seems to be related to cython/cython#4461.

[2022-10-26 08:24] RobertoPrevato commented on #276
Hi @mohd-akram,
Thanks for opening the issue. I already verified last weekend that it's sufficient to upgrade dependencies (pinned versions) and after this, BlackSheep already supports Python 3.11 (the full test suite passes).

I'm going to push a new release ASAP (probably tonight) with the necessary changes to use BlackSheep with Python 3.11.

[2022-10-27 14:21] RobertoPrevato commented on #276
Fixed by https://github.com/Neoteroi/BlackSheep/pull/277

[2022-10-27 17:09] rodolfolottin commented on #276
hi @RobertoPrevato , thanks for all your work!

Just wanted to flag that I still have the same error:

[code]

[2022-10-27 18:36] RobertoPrevato commented on #276
Hi @rodolfolottin,
Thank You for the heads up - I suspect it's only because I still need to release a new version to PyPI.
I am going to release to PyPI in the next hours, unless I encounter any issue.

[2022-10-27 18:45] RobertoPrevato commented on #276
`pip` is still a mystery to me sometimes. I have now a Python 3.11 virtual environment in which I could install, after several attempts, `cchardet` the last weekend. I cannot install it in a new virtual environment, even using the same commands I used last Sunday.

[2022-10-27 18:54] RobertoPrevato commented on #276
@rodolfolottin - just to share something curious with you.

This is what's happening: if you first install `Cython`, then it's possible to install `cchardet`.
This of course doesn't work in a distribution package - and it might be caused by some too smart / ambitious logic happening in `cchardet` setup.py (I like to keep them as simple and stupid as possible).

[code]

Thank You for your comment!

[2022-10-27 19:03] RobertoPrevato commented on #276
It seems to be fixed now. 👍🏼

[2022-10-28 11:02] mohd-akram commented on #276
@RobertoPrevato You might consider switching to [charset_normalizer](https://github.com/Ousret/charset_normalizer).

[2022-10-28 12:09] RobertoPrevato commented on #276
@mohd-akram thanks for the information, I'll look into `charset_normalizer`.
For now, this specific issue can be closed. Before I saw your comment, I released the new version [`1.2.8` to PyPI](https://pypi.org/project/blacksheep/), and it includes wheel packages for Python 3.11.

[2022-10-28 12:38] mohd-akram commented on #276
@RobertoPrevato Makes sense. I can confirm that the new version works. Thank you for the prompt fix!

[2022-10-28 12:38] #276 closed

[2022-10-28 12:50] rodolfolottin commented on #276
@RobertoPrevato thank you very much!!

[2022-11-05 21:44] RobertoPrevato opened #279 "Add built-in support for marshmallow"
Add built-in support for [marshmallow](https://github.com/marshmallow-code/marshmallow).

[2022-11-06 16:02] yxlwfds opened #280 "What about kloop"
[##### _Note: consider using [Discussions](https://github.com/Neoteroi/BlackSheep/discussions) to open a conversation about new features…_

**🚀 Feature Request**
](https://github.com/fantix/kloop) kLoop is an implementation of the Python [asyncio](https://docs.python.org/3/library/asyncio.html) event loop written in [Cython](https://cython.org/), using [io_uring](https://unixism.net/loti/what_is_i

[2022-11-06 17:58] RobertoPrevato commented on #280
Hi @yxlwfds,
Thanks for the heads up. `kloop` looks very interesting, and knowing about the contributions from fantix, I'm sure it can be a promising replacement for `uvloop`.

Right now `blacksheep` operates at an higher level of abstraction: since it was made compatible (and dependent) on ASGI, this library is no more concerned with handling event loop and processes for the HTTP Server part. The

[2022-11-06 17:58] #280 closed

[2022-11-14 00:24] RobertoPrevato opened #281 "Try replacing httptools.parse_url with Rust URL extension"
Try replacing httptools.parse_url with Rust extension.

**Why?**

Because if we removed the HTTP Client implementation (I plan to do so in version 2), then `httptools` would only be used to parse URLs. It could be replaced by built-in URL parsing, or also as learning opportunity, by a small wrapper over a Rust library that can parse URLs.

[2022-11-28 02:01] gh0st-work commented on #187
Same here, dependency injection in middleware & decorators is extremely needed

[2022-11-28 04:52] gh0st-work commented on #187
Minimum on the fly normalization of func (calculating of signature and binders) requires:

1. Removing `@functools.wraps` from decorator (so, better implement on framework level)
2. Adding to framework raw `route.param_names`, just to get it from initial get injection, otherwise it calls `JSONBinder` & `AmbiguousMethodSignatureError` as result, same with not detected (by me) required one other arg

[2022-11-28 07:01] RobertoPrevato commented on #187
Hi @gh0st-work
Thank for you input, I can work on adding support for dependency injections for authentication handlers. I don't have right now to read carefully all you wrote, but please don't create a PR now that can cause _recalculation of signature and binders_ as you wrote, because I don't accept this idea. It's best to improve the underlying library used for authentication rather than recalcu

[2022-11-28 07:11] gh0st-work commented on #187
I know about guardpost, but this is not only about authentication, but in fact about creating any decorators, i.e. we can say Turing completeness in terms of deps injection)

For example, I need not only authentication, but also data validation, let's say through the schema package, and actually, if you write a decorator (any) - all the magic disappears, moreover, everything breaks, i.e. blackshee

[2022-11-28 08:19] RobertoPrevato commented on #187
I don't doubt your proficiency in Python, I am not scare of you making trouble 😃 let me come back later to this conversation. Right now I am at work and cannot dedicate time here.

[2022-11-28 21:03] gh0st-work commented on #187
Ok, just in time, I will write an example of implementation.

[2022-11-29 02:33] gh0st-work commented on #187
[Implementation example](https://github.com/gh0st-work/blacksheep_decorators)